footer.footer
    .footer-background
        .footer-background__inner
    .container.container-space 
        .row
            .col-lg-3.col-md-3.col-sm-4.col-xs-6
                .placeholder-wrap
                    .placeholder-wrap__title
                        h6.title-sixth--blue ixLayer Inc.
                    .placeholder-wrap__txt
                        p.txt-about-least.txt-about-least--silver-2.
                            Let us know how we can help you launch the best genetic product.
                    .button-footer
                        .button-footer__inner
                            a(href="/contact-us.html").bt.blue Contact Us
            .col-lg-2.col-md-2.col-sm-4.col-xs-6
                .products-wrap
                    .products-wrap__title
                        h6.title-sixth--blue-dark.title-sixth--uppercase Products
                    ul.footer-link
                        li.footer-link__item
                            a(href="/ix360.html").footer-link__inner ix360
                        li.footer-link__item
                            a(href="/ixanypoint.html").footer-link__inner ixAnyPoint
                        li.footer-link__item
            .col-lg-3.col-md-3.col-sm-4.col-xs-6.col-xs-float
                .develop-wrap
                    .develop-wrap__title
                        h6.title-sixth--blue-dark.title-sixth--uppercase Developer Portal
                    ul.footer-link
                        li.footer-link__item
                            a(href="/sign-in.html").footer-link__inner API Documentation
                        li.footer-link__item
                            a(href="/sign-in.html").footer-link__inner IOS Documentation
                        li.footer-link__item
                            a(href="/sign-in.html").footer-link__inner Machine Learning
                        li.footer-link__item
                            a(href="/sign-in.html").footer-link__inner Data Visualization
            .col-lg-4.col-md-4.col-sm-12.col-xs-6
                .col-lg-6.col-md-6.col-sm-4.col-xs-12.col-not-padding
                    .company-wrap
                        .company-wrap__title
                            h6.title-sixth--blue-dark.title-sixth--uppercase Company
                        ul.footer-link
                            li.footer-link__item
                                a(href="/about-us.html").footer-link__inner About
                            li.footer-link__item
                                a(href="/about-us#values.html").footer-link__inner Mission & Values
                            li.footer-link__item
                                a(href="/about-us#join.html").footer-link__inner Join the team
                .col-lg-6.col-md-6.col-sm-4.col-xs-6.col-not-padding
                    .resources-wrap
                        .resources-wrap__title
                            h6.title-sixth--blue-dark.title-sixth--uppercase Resources
                        ul.footer-link
                            li.footer-link__item
                                a(href="/contact-us.html").footer-link__inner Contact us
                            li.footer-link__item
                                a(href="/sign-in.html").footer-link__inner Sign in
                            li.footer-link__item
                                a(href="/").footer-link__inner Index
        .footer-info
            .footer-info__txt © 2018 ixLayer




