footer.footer
    .footer-background
        .footer-background__inner
    .container.container-space 
        .row
            .col-lg-3.col-md-3.col-sm-4.col-xs-6
                .placeholder-wrap
                    .placeholder-wrap__title
                        h6.title-sixth--blue Placeholder
                     .placeholder-wrap__txt
                        p.txt-about-least.txt-about-least--silver-2.
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry
                    .button-footer
                        .button-footer__inner
                            a(href="/ix360").bt.blue Explore Solutions
            .col-lg-2.col-md-2.col-sm-4.col-xs-6
                .products-wrap
                    .products-wrap__title
                        h6.title-sixth--blue-dark.title-sixth--uppercase Products
                    ul.footer-link
                        li.footer-link__item
                            a(href="#").footer-link__inner End-to-End solution
                        li.footer-link__item
                            a(href="#").footer-link__inner Infrastructure solution
                        li.footer-link__item
                            a(href="#").footer-link__inner Data & Machine learning
                        li.footer-link__item
                            a(href="#").footer-link__inner CLIA & Regularity
            .col-lg-3.col-md-3.col-sm-4.col-xs-6.col-xs-float
                .develop-wrap
                    .develop-wrap__title
                        h6.title-sixth--blue-dark.title-sixth--uppercase Developer portal
                    ul.footer-link
                        li.footer-link__item
                            a(href="#").footer-link__inner Design & content
                        li.footer-link__item
                            a(href="#").footer-link__inner API documentation
                        li.footer-link__item
                            a(href="#").footer-link__inner IOS documentation
                        li.footer-link__item
                            a(href="#").footer-link__inner Data $ Machine learning
            .col-lg-4.col-md-4.col-sm-12.col-xs-6
                .col-lg-6.col-md-6.col-sm-4.col-xs-12.col-not-padding
                    .company-wrap
                        .company-wrap__title
                            h6.title-sixth--blue-dark.title-sixth--uppercase Company
                        ul.footer-link
                            li.footer-link__item
                                a(href="#").footer-link__inner About
                            li.footer-link__item
                                a(href="#").footer-link__inner Mission & Values
                            li.footer-link__item
                                a(href="#").footer-link__inner Our partners
                .col-lg-6.col-md-6.col-sm-4.col-xs-6.col-not-padding
                    .resources-wrap
                        .resources-wrap__title
                            h6.title-sixth--blue-dark.title-sixth--uppercase Resources
                        ul.footer-link
                            li.footer-link__item
                                a(href="#").footer-link__inner Contact us
                            li.footer-link__item
                                a(href="#").footer-link__inner Sign in
                            li.footer-link__item
                                a(href="#").footer-link__inner Privacy & Terms
        .footer-info
            .footer-info__txt © 2018 ix Layer




