footer.footer
    .container.container-space 
        .row
            .col-lg-3.col-md-3
                .placeholder-wrap
                    .title-fifth
                        h5.title-fifth__placeholder Placeholder
                    .txt-about-small
                        p.txt-about-small__column-first.
                            Lorem Ipsum is simply dummy of the printing and
                            typesetting industry
                    .button-footer
                        button.bt.blue Explore Solutions
            .col-lg-2.col-md-2
                .products-wrap
                    .title-fifth
                        h5.title-fifth__products Products
                    ul.footer-link
                        li.footer-link__item
                            a(href="#").footer-link__inner End-to-End solution
                        li.footer-link__item
                            a(href="#").footer-link__inner Infrastructure solution
                        li.footer-link__item
                            a(href="#").footer-link__inner Data & Machine learning
                        li.footer-link__item
                            a(href="#").footer-link__inner CLIA & Regularity
            .col-lg-3.col-md-3
                .develop-wrap
                    .title-fifth
                        h5.title-fifth__develop Developer portal
                    ul.footer-link
                        li.footer-link__item
                            a(href="#").footer-link__inner Design & content
                        li.footer-link__item
                            a(href="#").footer-link__inner API documentation
                        li.footer-link__item
                            a(href="#").footer-link__inner IOS documentation
                        li.footer-link__item
                            a(href="#").footer-link__inner Data $ Machine learning
            .col-lg-4.col-md-4
                .col-lg-6
                    .company-wrap
                        .title-fifth
                            h5.title-fifth__company Company
                        ul.footer-link
                            li.footer-link__item
                                a(href="#").footer-link__inner About
                            li.footer-link__item
                                a(href="#").footer-link__inner Mission & Values
                            li.footer-link__item
                                a(href="#").footer-link__inner Our partners
                .col-lg-6
                    .resources-wrap
                        .title-fifth
                            h5.title-fifth__resources Resources
                        ul.footer-link
                            li.footer-link__item
                                a(href="#").footer-link__inner Contact us
                            li.footer-link__item
                                a(href="#").footer-link__inner Sign in
                            li.footer-link__item
                                a(href="#").footer-link__inner Privacy & Terms




