section.head
    .head-background
    .head-image
        img.head-image__first(src="./img/iPhone---01.png")
        img.head-image__second(src="./img/iPhone---02.png")
    .container.container-lg
        .row
            header.header
                .col-lg-3.col-md-3
                    .logo
                        img.logo__header(src="./img/ixlayer-logo-white.png")
                .col-lg-7.col-md-7
                    nav.header-nav
                        ul.header-nav__wrap
                            li.header-nav__item
                                a(href="#" class="header-nav__link") Products
                            li.header-nav__item
                                a(href="#" class="header-nav__link") Developers
                            li.header-nav__item
                                a(href="#" class="header-nav__link") Company
                            li.header-nav__item
                                a(href="#" class="header-nav__link") Pricing
                .col-lg-2.col-md-2
                    .auth 
                        .auth__inner Sign in 
        .row
            section.header-content
                .col-lg-9.col-md-9
                    .header-content-title
                        .title
                            h1.title__inner.
                                A complete solution to launch genetic product
                        .title-about
                            p.title-about__inner.
                                ixLayer is a technology infrastructure and an end-to-end solution for 
                                healthcare, wellness, nutrition and lifestyle companies to offer range of 
                                customized genetic products or test.
                    .header-content-button
                        .header-content-button__inner
                            button(class="bt green") Explore Solutions
                            button(class="bt grey") Request a demo
                    
section.header-content-bottom
    .container.container-lg
        .row
            .col-lg-9.col-md-9
                .header-content-bottom__inner
                    .title-second
                        h2.title-second__inner.
                            The tipping point of an market
                    .txt-about
                        p.txt-about__inner.
                            Genetics will be an obvious personalization 
                            factor for consumer products in the future, 
                            but this future is already here and the 
                            opportunity is now. Here are the reasons
                include _header-slider

                        