.header-content-price-slider
    #carousel-generic.carousel.slide(data-ride="carousel")
        ol.carousel-indicators
            li(data-target="#carousel-generic" data-slide-to="0" class="active")
            li(data-target="#carousel-generic" data-slide-to="1")
            li(data-target="#carousel-generic" data-slide-to="2")
            li(data-target="#carousel-generic" data-slide-to="3")
            li(data-target="#carousel-generic" data-slide-to="4 ")
        .header-content-price.carousel-inner
            .header-content-price__inner.item.active
                .image-small
                    .image-small__inner
                .header-content-price-txt
                    .title-fourth
                        h4.title-fourth__inner Price elasticity
                    .about-txt-fourth
                        p.about-txt-fourth__inner.
                            Illumina new technology drives 
                            the cost of DNA sequencing cost to below $100
                    .read-more
                        span.read-more__inner Read more 
            .header-content-price__inner.item
                .image-small
                    .image-small__inner
                .header-content-price-txt
                    .title-fourth
                        h4.title-fourth__inner Platform
                    .about-txt-fourth
                        p.about-txt-fourth__inner.
                            Helix platform removes burden of having 
                            genomic lab and the  bioinformatic pipeline
                    .read-more
                        span.read-more__inner Read more 
            .header-content-price__inner.item
                .image-small
                    .image-small__inner
                .header-content-price-txt
                    .title-fourth
                        h4.title-fourth__inner Removing Barriers
                    .about-txt-fourth
                        p.about-txt-fourth__inner.
                            ixLayer simplifies developing genetic 
                            products by removing technical and regulatory 
                            barriers
                    .read-more
                        span.read-more__inner Read more
            .header-content-price__inner.item
                .image-small
                    .image-small__inner
                .header-content-price-txt
                    .title-fourth
                        h4.title-fourth__inner Increasing demand
                    .about-txt-fourth
                        p.about-txt-fourth__inner.
                            Genetic product was one of the five best-selling 
                            products on Amazon during the holiday season
                    .read-more
                        span.read-more__inner Read more
            .header-content-price__inner.item
                .image-small
                    .image-small__inner
                .header-content-price-txt
                    .title-fourth
                        h4.title-fourth__inner Growth of a market
                    .about-txt-fourth
                        p.about-txt-fourth__inner.
                            Startups and Industry leaders saw 3x-10x 
                            exponential growth in 2017
                    .read-more
                        span.read-more__inner Read more