header.header
    .mobile-button.visible-xs-inline-block
        .mobile-button__inner
    .mobile-menu
        .container
            .row
                .col-xs-6
                    nav.header-nav
                        ul.header-nav__wrap
                            li.header-nav__item
                                a(href="#" class="header-nav__link") Products
                            li.header-nav__item
                                a(href="#" class="header-nav__link") Developers
                            li.header-nav__item
                                a(href="#" class="header-nav__link") Company
                            li.header-nav__item
                                a(href="#" class="header-nav__link") Pricing
                .auth-mobile 
                    a(href="#").auth-mobile__inner Sign in
    .col-lg-3.col-md-3.col-sm-2
        .logo
            a(href="#" class="logo__header")
            //- img.logo__header(src="./img/ixlayer-logo-white.png")
    .col-lg-7.col-md-7.col-sm-8.hidden-xs
        nav.header-nav
            ul.header-nav__wrap
                li.header-nav__item
                    a(href="#" class="header-nav__link") Products
                li.header-nav__item
                    a(href="#" class="header-nav__link") Developers
                li.header-nav__item
                    a(href="#" class="header-nav__link") Company
                li.header-nav__item
                    a(href="#" class="header-nav__link") Pricing
    .col-lg-2.col-md-2.col-sm-2.hidden-xs
        .auth 
            a(href="#").auth__inner Sign in