header.header
    .mobile-button.visible-xs-inline-block
        .mobile-button__inner
    .mobile-menu
        .mobile-menu__wrap
            .mobile-menu__button-close
            .container
                .row
                    .mobile-menu-content
                        .mobile-menu__title
                            .title-sixth.title-sixth--upper Products
                        ul.mobile-menu-top-link
                            li.mobile-menu-top-link__item
                                a(href="/ix360").mobile-menu-top-link__link
                                    .mobile-menu-top-link__image
                                        object(type="image/svg+xml",data="./img/icon-ix360.svg").image-circle-small
                                    .mobile-menu-top-link__txt ix360
                            li.mobile-menu-top-link__item
                                a(href="/ixAnypoint").mobile-menu-top-link__link
                                    .mobile-menu-top-link__image
                                        object(type="image/svg+xml",data="./img/icon-ixAnypoint.svg").image-circle-small
                                    .mobile-menu-top-link__txt ixAnypoint
                        ul.mobile-menu-bottom-link
                            li.mobile-menu-bottom-link__item
                                a(href="/sign-in").mobile-menu-bottom-link__link Developers
                            li.mobile-menu-bottom-link__item
                                a(href="/about-us").mobile-menu-bottom-link__link Company
                            li.mobile-menu-bottom-link__item
                                a(href="/contact-us").mobile-menu-bottom-link__link Contact
                        .mobile-menu__sign-in
                            .auth 
                                a(href="/sign-in").auth__mobile-menu Sign in
    .col-lg-3.col-md-3.col-sm-2
        .logo
            a(href="#" class="logo__link")
                .logo__header
                    include pages/partials/_logo-ixlayer
                span.logo__txt ixlayer
    .col-lg-7.col-md-7.col-sm-8.hidden-xs
        nav.header-nav
            ul.header-nav__wrap
                li.header-nav__item
                    .header-nav__link Products
                        .header-nav-dropdown
                            .header-nav-dropdown__menu
                                .menu
                                    ul.menu__wrap
                                        li.menu__item
                                            a(href="/ix360" class="menu__link")
                                                .menu-link
                                                    .menu-link__image
                                                        object(type="image/svg+xml",data="./img/icon-ix360.svg").image-circle
                                                    .menu-txt
                                                        .menu-txt__title
                                                            .title-seventh ix360
                                                        .menu-txt__about-txt
                                                            .txt-about-less A complet genetic toolkit, built for you
                                        li.menu__item
                                            a(href="/ixAnypoint" class="menu__link")
                                                .menu-link
                                                    .menu-link__image
                                                        object(type="image/svg+xml",data="./img/icon-ixAnypoint.svg").image-circle
                                                    .menu-txt
                                                        .menu-txt__title
                                                            .title-seventh ixAnypoint
                                                        .menu-txt__about-txt
                                                            .txt-about-less A complet genetic toolkit, built for developers
                                    a(href="").menu-content-bottom 
                                        .menu-content-bottom__image
                                            .image-less
                                        .menu-content-bottom__txt
                                            h3.title-third--blue-dark.not-indent Request a demo
                li.header-nav__item
                    a(href="/sign-in").header-nav__link Developers
                li.header-nav__item
                    a(href="/about-us").header-nav__link Company
                li.header-nav__item
                    a(href="/contact-us").header-nav__link Contact
    .col-lg-2.col-md-2.col-sm-2.hidden-xs
        .auth 
            a(href="/sign-in").auth__inner Sign in
