section.section-second
    .section-second-background
    .section-second__inner
        .container.container-lg
            .row
                .col-lg-12
                    .stripe-section-title
                        .stripe-section-title__inner
                            .stripe-seciton-logo
                                .stripe-section-logo__circle
                                    .stripe-section-logo__circle-inner
                            .title-second
                                h2.title-second__inner-second Title Placeholder
            .row
                .section-second__txt
                    .col-lg-5
                        .txt-about-second
                            p.txt-about-second__space-right.
                                Launching a genetic product is 
                                technically complex, costly, time consuming, 
                                resource heavy, and regulatory challenging
                    .col-lg-7
                        .txt-about
                            p.txt-about__compress.
                                IxLayer builds the most powerful and flexible 
                                tools for genetic companies to solve all of that. 
                                Whether you’re launching a genetic nutrition app, 
                                wellness genetic product, or an Alzheimer's healthcare tes, 
                                Ixlayer’s end-to-end mobile and web solution or ixlayer’s 
                                infrastructure solution will help you create the best possible 
                                product for your users.
            .row
                .image-middle
                    .image-middle__inner
        .container.container-space
            .row
                .secion-second-text-item
                    .col-lg-4
                        .logo
                            .logo__inner.logo__inner-integrated
                        .title-fourth
                            h4.title-fourth__section-second Integrated
                        .txt-about-small
                            p.txt-about-small__section-second.
                                Full integrated with the ecosystem, 
                                IxLayer provides a complete set of genetic 
                                service building blocks to support virtually any application. 
                            p.txt-about-small__section-second.
                                These service blocks includes Helix Sequencing lab, 
                                Physician Networks, ondemand Genetic counsellors, Apple 
                                Health- & Research Kit, CLIA Certification for 
                                your products, and more...
                    .col-lg-4.col-space
                        .logo
                            .logo__inner.logo__inner-customizable
                        .title-fourth
                            h4.title-fourth__section-second Customizable
                        .txt-about-small
                            p.txt-about-small__section-second.
                                Either choose the Ixlayer-infrastructure solution 
                                and easily integrate with your existing platform, 
                                or choose the ixlayer End-To-End solution and have 
                                our product team work with you to create the best design 
                                and user experience across web and IOS. 
                    .col-lg-4.col-space
                        .logo
                            .logo__inner.logo__inner-operation
                        .title-fourth
                            h4.title-fourth__section-second Operation Not Needed
                        .txt-about-small
                            p.txt-about-small__section-second.
                                All Ixlayer products are fully maintained by our 
                                team so that you no longer need to worry about 
                                operation resources. This includes platform updates, 
                                Integration and certificate management, Source code updates, 
                                monitoring & logs, security patching, post launch change, 
                                CLIA audits, and more...


                
