section.section-third
    .section-third-background
    .section-third__inner
        .container.container-lg
            .row
                .col-lg-12
                    .stripe-section-title
                        .stripe-section-title__inner
                            .stripe-section-logo
                                .stripe-section-logo__circle
                                    .stripe-section-logo__circle-inner
                            .title-second
                                h2.title-second__inner-third.
                                    Focus on the science and your users,
                                    Not on infrastructure
            .row.row-third__image
                .col-lg-6
                    .image-middle
                        img(src="./img/Gaant-01.jpg").image-middle__third

                .col-lg-6
                    .image-middle
                        img(src="./img/Gaant-02.jpg").image-middle__third