section.section-fourth
    .section-fourth-background
    .container.container-lg
        .row
            .col-lg-12
                .title-border.title-border--fourth End to end solution
                .about-txt
                    p.about-txt__center.
                        IxLayee End-to-end solution is everything 
                        you need to launch a genetic product.
                         All that is needed from your side is 
                         the scientific claims and Ixlayer will 
                         provide you best in class, web and mobile, 
                         user friendly genetic products with in 3 weeks.
        .row
            .tabs
                nav
                    .nav.nav-tabs#nav-tab(role="tablist")
                        a.nav-item.nav-link.active#custome-product-tab(data-toggle="tab" href="#custome-product" role="tab" aria-controls="custome-product" aria-selected="true") Custom product design
                        a.nav-item.nav-link#web-mobile-tab(data-toggle="tab" href="#web-mobile" role="tab" aria-controls="web-mobile" aria-selected="false") Web and mobile
                        a.nav-item.nav-link#ecosystem-tab(data-toggle="tab" href="#ecosystem" role="tab" aria-controls="ecosystem" aria-selected="false") Integrated with the ecosystem
                        a.nav-item.nav-link#operation-tab(data-toggle="tab" href="#operation" role="tab" aria-controls="operation" aria-selected="false") Operation
    .container-large
        .tab-content#nav-tabContent
            .tab-pane.fade.active.in#custome-product(role="tabpanel" aria-labelledby="custome-product-tab")
                .tab__inner
                    .image-middle
                        .image-middle__tabs
                    .tab__txt
                        .title-fourth.title-fourth--white
                            h4.title-fourth__tabs Custom Product Design
                        .about-txt
                            p.about-txt__inner.
                                xLayer product and design team will 
                                work together with you to create the 
                                interface and the experience that fits 
                                your users need. This includes product 
                                brainstorming, identifying value 
                                propositions, design that speaks for 
                                your brand and a feature rich product 
                                for your genetic application
                        .buttons
                            button.bt.purple Explore Solution
                            button.bt.grey Request a demo
            .tab-pane.fade#web-mobile(role="tabpanel" aria-labelledby="web-mobile-tab")
                .tab__inner
                    .image-middle
                        .image-middle__tabs
                    .tab__txt
                        .title-fourth.title-fourth--white
                            h4.title-fourth__tabs Web and Mobile
                        .about-txt
                            p.about-txt__inner.
                                With ixLayer you can offer a custom web, 
                                mobile-web and Native IOS application. 
                                integration with Helix mobile SDK, Apple 
                                payment services, Apple Health & Research-kit 
                                integration, supporting one or multiple genetic
                                 products / tests
                        .buttons
                            button.bt.purple Explore Solution
                            button.bt.grey Request a demo
            .tab-pane.fade#ecosystem(role="tabpanel" aria-labelledby="ecosystem-tab")
                .tab__inner
                    .image-middle
                        .image-middle__tabs
                    .tab__txt
                        .title-fourth.title-fourth--white
                            h4.title-fourth__tabs Integrated with the ecosystem
                        .about-txt
                            p.about-txt__inner.
                                Fully integrated with the needed services 
                                as part of ixLayer infrastructure to launch 
                                a genetic consumer product or genetic LDT 
                                health products. These services includes 
                                Helix sequencing platform, Physician networks,
                                 on demand genetic counselors, CLIA certified
                                  interpretation and reporting and compliant 
                                  with the highest industry security guidelines
                        .buttons
                            button.bt.purple Explore Solution
                            button.bt.grey Request a demo
            .tab-pane.fade#operation(role="tabpanel" aria-labelledby="operation-tab")
                .tab__inner
                    .image-middle
                        .image-middle__tabs
                    .tab__txt
                        .title-fourth.title-fourth--white
                            h4.title-fourth__tabs Operation
                        .about-txt
                            p.about-txt__inner.
                                Operation ost launch for daily DevOps., 
                                platform updates, admin userdata access, 
                                platform analytics, Integration and certificate management, 
                                source code updates, monitoring & logs, security patching, 
                                post launch bug fixes, API and versioning updates from supported 
                                services
                        .buttons
                            button.bt.purple Explore Solution
                            button.bt.grey Request a demo
        .stripe-section-logo
            .stripe-section-logo__circle.stripe-section-logo__circle--fourth.stripe-section-logo__circle--big
                .stripe-section-logo__circle-inner.stripe-section-logo__circle-inner--big
