-
  var boxs_items = {
    "interface": ["Content & assets", "Design UI/UX", "Frontend Web", "Frontend Mobile", "Notification services", "User scenario testing", "Policy user flow", "Launch testing"],
    "backend": ["Backend source code", "Database architecture", "Lab APIs", "Physician APIs", "Genetic counseling API", "Integration testing", "Security & Encryption", "AWS architecture", "Server load testing", "Launch testing"],
    "science": ["Scientific Evaluation", "LDT flow", "Exclusion criteria", "Interpretation", "Physician approval", "Genetic consulting", "CLIA certification"],
    "operation": ["Platform updates", "Userdata access", "Platform Analytics", "Integration management", "Certificate management", "Source code updates", "Monitoring & logs", "Security patchin", "Post launch bug fixes", " Product improvement"]};