-
  var boxs_items = {
    "interface": ["Content & assets", "Design UI/UX", "Frontend Web", "Frontend Mobile", "Notification services", "User scenario testing", "Policy user flow", "Launch testing"],
    "backend": ["Backend source code", "Database architecture", "Lab APIs", "Physician APIs", "Genetic counseling API", "Integration testing", "Security & Encryption", "AWS architecture", "Server load testing", "Launch testing"],
    "science": ["Scientific Evaluation", "LDT flow", "Exclusion criteria", "Interpretation", "Physician approval", "Genetic consulting", "CLIA certification"],
    "operation": ["Platform updates", "Userdata access", "Platform Analytics", "Integration management", "Certificate management", "Source code updates", "Monitoring & logs", "Security patchin", "Post launch bug fixes", " Product improvement"]};

-
  var table = [
    {title: "Product concept & ideation", txt_about: "Our product team with guide you through product concept and ideation, including value props, feature/functionalities, product criterias ...", consumer: false, health: true},
    {title: "Design & UI", txt_about: "Custom user interface and user experience based on product concept and you recommendations", consumer: true, health: true},
    {title: "Web Application", txt_about: "Frontend dynamic, mobile responsive web development based on design", consumer: true, health: true},
    {title: "IOS Application", txt_about: "Native IOS application (Swift) integrated with Helix mobile SDK and apple payment services", consumer: true, health: true},
    {title: "App store launch", txt_about: "Launch the App on Apple App store including App submission and apple approval process", consumer: true, health: true},
    {title: "Apple Healthkit", txt_about: "Integration with Apple Healthkit part of the IOS application collecting phenotype data", consumer: true, health: true},
    {title: "Apple Research-ki", txt_about: "Integration with Apple Researchkit as part of the IOS application for conducting research", consumer: true, health: true},
    {title: "Multi product launch", txt_about: "Launching more than one product / test on the same application", consumer: true, health: true},
    {title: "Helix integration", txt_about: "Integration with Helix partner and genomics API. Including Helix integration testing, and  load testing", consumer: true, health: true},
    {title: "Helix LDT integration", txt_about: "Integration with Helix physician LDT API including integration testing", consumer: false, health: true},
    {title: "Physician network integration", txt_about: "Integration and data routing with physician network for LDT exclusion criteria approval", consumer: false, health: true},
    {title: "Genetic Counseling integration ", txt_about: "Integrated with genetic counselors services & APIs", consumer: true, health: true},
    {title: "Helix security compliance", txt_about: "Validating the interpretation algorithm by providing Helix result for control samples", consumer: true, health: true},
    {title: "Scientific interpretation validation", txt_about: "Custom user interface and user experience based on product concept and you recommendations", consumer: true, health: true},
    {title: "Product Alpha testing", txt_about: "Launch of product in staging environment for testing and debugging", consumer: true, health: true},
    {title: "Custom kit sleeve design", txt_about: "Our product team with gu", consumer: true, health: true},
    {title: "Product concept & ideation", txt_about: "Our product team with gu", consumer: true, health: true},
    {title: "Helix launch approval", txt_about: "Authentication credential exchange and completion of Helix marketplace launch checklist", consumer: true, health: true},
    {title: "CLIA document screening", txt_about: "Our lab director will review product claims and workflow to make sure it meets regulatory requirements", consumer: false, health: true},
    {title: "CLIA document management", txt_about: "Our lab director will evaluate records of patient testing to make sure it is properly maintained and all procedures, and policies are under document control", consumer: false, health: true},
    {title: "CLIA Audit", txt_about: "Routine audit to demonstrate that our personnel have proper qualifications, quality management program is implemented, and our lab operates with the highest standards of quality, accuracy and consistency", consumer: false, health: true},
    {title: "Product Beta testing", txt_about: "Private internal launch with internal test group,including Helix employees on production", consumer: true, health: true},
    {title: "Daily operation", txt_about: "Server and system operation, including Health monitoring and diagnose. System-related update and  maintenance", consumer: true, health: true},
    {title: "Client Admin access", txt_about: "User data access, platform analytics, sales reporting, conversion and  funnel information", consumer: true, health: true},
    {title: "Service updates & operation", txt_about: "Integration management, Genetic pipeline updates, service APIs updates", consumer: true, health: true},
    {title: "Operation Security", txt_about: "Certificate management, source code updates, logging and monitoring, Security patching", consumer: true, health: true},
    {title: "Post launch improvement", txt_about: "Post launch bug fixes, product and content improvement. Price optimization changes", consumer: true, health: true},
    {title: "Apple app store updates", txt_about: "Update IOS app based on new Apple OS releases. Content update on the Apple app store", consumer: true, health: true}
  ];

-
  var infrastructure_description = [
    {title: 'Integration with all genetic services', txt: ['Integrated with Helix sequencing services & APIs', 'Integrated with Helix mobile SDK', 'Integrated with physician-networks services & APIs', 'Integrated with genetic counselors services & APIs']},
    {title: 'Integrated with Apple ecosystem', txt: ['Integrated with Apple IAP', ' Integrated with Apple Health-kit', 'Integrated with Apple Research-kit', ' Open Source Cocoapods libraries with extensive development components for genetic applications']},
    {title: 'End to end backend solution', txt: ['Configurable to integrate with your backend technology', 'Configurable to or to be used be used as standalone end-to-end backend solution for your web and mobile application', 'Removing the need to run and maintain your own servers and databases.', 'REST API solution compatible with all exciting frontend stack (React, Angular, Vue, ...)']},
    {title: 'Multiple products solution', txt: ['Business services to support multiple products with in the same platform or genetic application', 'User and profile linking across multiple genetic products or application', 'Single authentication across multiple genetic products or application']},
    {title: 'Genetic interpretation and reporting', txt: ['Regulatory Compliance with CLIA for lab developed tests reporting', 'Regulatory Compliance with HIPAA for health information management', 'Hosting your interpretation and content for genetic reporting', 'API integration with your genetic interpretation and content environment', 'API integration with 3rd party genetic interpretation and content environments', 'Standalone hosting for genetic interpretation, content and reporting']},
    {title: 'Open Source plugins', txt: ['Open source integration plugins to launch genetic product on WordPress, Drupal, or Joomla']},
    {title: 'Operation & Monitoring', txt: ['All application on ixLayer infrastructure runs on a secure, virtual private cloud, isolated from any other application', 'All application on ixLayer infrastructure have isolated private services such as Caching, Queuing and Database Servers and Logging', 'All infrastructure are managed and monitored by ixLayer staff on a 24/7 basis.', 'The operation and monitoring includes, platform updates, integration and certificate management, source code updates, monitoring & logs, security patching and more']},
    {title: 'Security', txt: ['ixLayer platform has been designed and developed with the strictest security and encryption practices.', 'Fully compliant with Industry security guidelines. TLS 1.2 security and AES-256 encryption. Encryption of Data in Transit and at Rest. Cloud security services.', 'Managed detection/response. Incident reporting. 3rd party security audits', 'ixLayer platform undergoes quarterly security, penetration and compliance testing']},
    {title: 'Update & improvements', txt: ['ixLayer is an always improving infrastructure. We provided versioned non-breaking API changes to let you upgrade on your schedule without surprises', ' As an always improving infrastructure we work hard to make sure that we are always in sync with all of our services such as Helix genetic pipeline changes, regulatory updates, new IOS releases, etc...']},
    {title: 'Clinical Research', txt: ['ixLayer infrastructure can also be used for running a clinical research study in your application.', 'Leverage the platforms integration with apple Health-kit and Research-kit', 'Launch new surveys or choose from validated tools', ' Visualize the phenotype and genotype data and discover possible correlations']},
    {title: 'Regulatory and privacy practices', txt: [' ixLayer infrastructure is CLIA certified; Genetic based lab developed tests (LDT) need to be performed in US laboratories that are certified to meet CLIA standards—the Clinical Laboratory Improvement Amendments of 1988. A CLIA-certified lab must meet certain quality standards, including qualifications for individuals who perform the test and other standards that ensure the accuracy and reliability of results.', 'We are also HIPAA compliant. Individually identifiable genetic information is considered health information under the HIPAA (Health Insurance Portability and Accountability Act of 1996 ). In 2013, the HIPAA Omnibus Rule amended HIPAA regulations to include genetic information in the definition of Protected Health Information (PHI).']},
    {title: 'Support', txt: ['IxLayer engineering-, product- and design team will work closely with your team to offer support with creating product concept, design and help you with any needed integration.', 'The IxLayer infrastructure platform is managed and monitored by ixLayer staff on a 24/7 basis.']}
    ];