-
  var boxs_items = {
    "interface": ["Content & assets", "Design UI/UX", "Frontend Web", "Frontend Mobile", "Notification services", "User scenario testing", "Policy user flow", "Launch testing"],
    "backend": ["Backend source code", "Database architecture", "Lab APIs", "Physician APIs", "Genetic counseling API", "Integration testing", "Security & Encryption", "AWS architecture", "Server load testing", "Launch testing"],
    "science": ["Scientific Evaluation", "LDT flow", "Exclusion criteria", "Interpretation", "Physician approval", "Genetic consulting", "CLIA certification"],
    "operation": ["Platform updates", "Userdata access", "Platform Analytics", "Integration management", "Certificate management", "Source code updates", "Monitoring & logs", "Security patchin", "Post launch bug fixes", " Product improvement"]};

-
  var table = [
    {title: "Product concept & ideation", txt_about: "Our product team with guide you through product concept and ideation, including value props, feature/functionalities, product criterias ...", consumer: false, health: true},
    {title: "Design & UI", txt_about: "Custom user interface and user experience based on product concept and you recommendations", consumer: true, health: true},
    {title: "Web Application", txt_about: "Frontend dynamic, mobile responsive web development based on design", consumer: true, health: true},
    {title: "IOS Application", txt_about: "Native IOS application (Swift) integrated with Helix mobile SDK and apple payment services", consumer: true, health: true},
    {title: "App store launch", txt_about: "Launch the App on Apple App store including App submission and apple approval process", consumer: true, health: true},
    {title: "Apple Healthkit", txt_about: "Integration with Apple Healthkit part of the IOS application collecting phenotype data", consumer: true, health: true},
    {title: "Apple Research-ki", txt_about: "Integration with Apple Researchkit as part of the IOS application for conducting research", consumer: true, health: true},
    {title: "Multi product launch", txt_about: "Launching more than one product / test on the same application", consumer: true, health: true},
    {title: "Helix integration", txt_about: "Integration with Helix partner and genomics API. Including Helix integration testing, and  load testing", consumer: true, health: true},
    {title: "Helix LDT integration", txt_about: "Integration with Helix physician LDT API including integration testing", consumer: false, health: true},
    {title: "Physician network integration", txt_about: "Integration and data routing with physician network for LDT exclusion criteria approval", consumer: false, health: true},
    {title: "Genetic Counseling integration ", txt_about: "Integrated with genetic counselors services & APIs", consumer: true, health: true},
    {title: "Helix security compliance", txt_about: "Validating the interpretation algorithm by providing Helix result for control samples", consumer: true, health: true},
    {title: "Scientific interpretation validation", txt_about: "Custom user interface and user experience based on product concept and you recommendations", consumer: true, health: true},
    {title: "Product Alpha testing", txt_about: "Launch of product in staging environment for testing and debugging", consumer: true, health: true},
    {title: "Custom kit sleeve design", txt_about: "Our product team with gu", consumer: true, health: true},
    {title: "Product concept & ideation", txt_about: "Our product team with gu", consumer: true, health: true},
    {title: "Helix launch approval", txt_about: "Authentication credential exchange and completion of Helix marketplace launch checklist", consumer: true, health: true},
    {title: "CLIA document screening", txt_about: "Our lab director will review product claims and workflow to make sure it meets regulatory requirements", consumer: false, health: true},
    {title: "CLIA document management", txt_about: "Our lab director will evaluate records of patient testing to make sure it is properly maintained and all procedures, and policies are under document control", consumer: false, health: true},
    {title: "CLIA Audit", txt_about: "Routine audit to demonstrate that our personnel have proper qualifications, quality management program is implemented, and our lab operates with the highest standards of quality, accuracy and consistency", consumer: false, health: true},
    {title: "Product Beta testing", txt_about: "Private internal launch with internal test group,including Helix employees on production", consumer: true, health: true},
    {title: "Daily operation", txt_about: "Server and system operation, including Health monitoring and diagnose. System-related update and  maintenance", consumer: true, health: true},
    {title: "Client Admin access", txt_about: "User data access, platform analytics, sales reporting, conversion and  funnel information", consumer: true, health: true},
    {title: "Service updates & operation", txt_about: "Integration management, Genetic pipeline updates, service APIs updates", consumer: true, health: true},
    {title: "Operation Security", txt_about: "Certificate management, source code updates, logging and monitoring, Security patching", consumer: true, health: true},
    {title: "Post launch improvement", txt_about: "Post launch bug fixes, product and content improvement. Price optimization changes", consumer: true, health: true},
    {title: "Apple app store updates", txt_about: "Update IOS app based on new Apple OS releases. Content update on the Apple app store", consumer: true, health: true}
  ];