section.section-second-contacts
    .container.container-lg
        .row
            .secttion-second-contacts__wrap
                .col-lg-9.col-md-8.col-sm-12.col-xs-12
                    .section-second-contacts-form
                        .section-second-contacts-form__wrap
                            form.form-horizontal(action="")
                                .form-group
                                    label(for="name" control-label).col-sm-4.label-input Your name
                                    .col-sm-8
                                        input(type="text"  id="name" placeholder="John Doe").form-control
                                .form-group
                                    label(for="email" control-label).col-sm-4.label-input Your email
                                    .col-sm-8
                                        input(type="email" id="email" placeholder="john.doe@example.com").form-control
                                .form-group
                                    label(for="company" control-label).col-sm-4.label-input Company name
                                    .col-sm-8
                                        input(type="text" id="company" placeholder="The big corp").form-control
                                .form-group
                                    label(for="message" control-label).col-sm-4.label-input Message
                                    .col-sm-8
                                        textarea(rows="8" placeholder="Tell us more about your project, needs and timeline").form-control
                                .form-group-button
                                    .from-group-button__wrap
                                        button(type="submit").bt.purple Contact
                .col-lg-3.col-md-4.col-sm-12.col-xs-12
                    .section-second-contacts-description
                        .section-second-contacts-description__wrap
                            .section-second-contacts-description-images
                                .section-second-contacts-description-images__first
                                    img(src="img/marker-maps.png").description-images-marker
                                .section-second-contacts-description-images__second
                                    img(src="img/email.png").description-images-email
                            .section-second-contacts-description-txt
                                .section-second-contacts-description-txt__title
                                    h2.title--blue-dark Our addres
                                .section-second-contacts-description-txt__about
                                    p.txt-main-title.color-blue-dark ixLayer
                                    p.txt-main-title.color-blue-dark 156 2nd Street
                                    p.txt-main-title.color-blue-dark San Francisco, CA 94105
        .row
            .section-second-description
                .col-lg-6.col-md-6.col-sm-6.col-xs-12
                    .section-second-description__wrap-first
                        .section-second-description__title
                            h1.title--blue-dark General Informations
                        .section-second-description__about
                            p.txt-about.color-blue-dark.txt-about--middle-line-height.
                                We’d love to talk about how we can help to launch your genetic product.
                        .section-second-descriptioin__email-link                      
                            a(href="mailto:info@ixlayer.com").email-link-lg info@ixlayer.com
                .col-lg-6.col-md-6.col-sm-6.col-xs-12
                    .section-second-description__wrap-second
                        .section-second-description__title
                            h1.title--blue-dark Technical Support
                        .section-second-description__about
                            p.txt-about.color-blue-dark.txt-about--middle-line-height.
                                We’re here to help with any technical and operational question
                        .section-second-descriptioin__email-link                      
                            a(href="mailto:support@ixlayer.com").email-link-lg support@ixlayer.com
