section.section-fourth-about
    .container.container-lg
        .row
            .col-lg-12
                .section-fourth-about__content
                    .section-fourth-about__title 
                        h3.title-third--blue-dark.title-second--medium Join the team
                    .section-fourth-about__txt-main
                        p.txt-main-title.color-blue-dark.
                            At ixLayer we push the boundaries. Help us 
                            build the universal IT infrastructure of 
                            genetic testing.
                    .section-fourth-about__email-link
                        a(href="mailto:team@ixlayer.com").email-link team@ixlayer.com
