section.head-about
    .head-about__background
        .main-background.main-background--light-blue
    .container.container-lg
        .row
            include ../../_nav
        .row
            .head-about-content
                .col-lg-8.col-md-8.col-sm-8.col-xs-12
                    .head-about__title
                        h1 About ixLayer
                    .head-about__txt
                        p.txt-main-title.
                            Genetic data holds promise as the next giant leap in evolution of mankind. This inspires an ecosystem of companies to share the same mission and that is to transform human health.
                .col-lg-4.col-md-4.col-sm-4.hidden-xs
                    .logo-header-about
                        .logo__header
                            include ../partials/_logo-ixlayer
