section.head-about
    .head-about__background
        .main-background.main-background--light-blue
    .container.container-lg
        .row
            include ../../_nav
        .row
            .head-about-content
                .col-lg-8.col-md-8.col-sm-8.col-xs-12
                    .head-about__title
                        h1 About us
                    .head-about__txt
                        p.txt-main-title.
                            ixLayer helps health and wellness businesses launch 
                            genetic products by enabling them to leverage  latest 
                            advances in science and technology to deliver personal 
                            experience to end-consumer in a user friendly way. 
                .col-lg-4.col-md-4.col-sm-4.hidden-xs
                    .logo-header-about
                        .logo__header
                            include ../partials/_logo-ixlayer