section.section-second-about
    .container.container-lg
        .row
            .col-lg-12
                .section-second-about-txt
                    .section-second-about-txt__inner
                        .section-second-about-txt__row
                            p.txt-main-title.color-blue-dark.mobile-txt-left.
                                Illumina’s sequencing innovations acceleres the genomics industry exponentially. Helix platform removes the complexity and the need of operating a sequencing lab. The science provided by our partner makes it possible for the  end-users to understand their own genetic variation.
                .section-second-about-quote
                    .section-second-about-quote__image
                        .image-quote
                    .section-second-about-quote__txt
                        p.txt-about.txt-about--blue.txt-about--large-line-height.mobile-txt-left.
                                Our goal in this genomic ecosystem is to provide the needed technology, delivered with a personalized user friendly experience which we call a genetic product.
                        .section-second-about-quote__txt-bottom
                            p.txt-about-small.color-blue-dark.mobile-txt-right Pouria Sanae, CEO of ixLayer
                .section-second-about-why
                    .section-second-about-why__inner
                        h1.title--blue-dark.mobile-txt-left.title-align Why ixLayer?
                        .section-second-about-why__title-txt
                            p.txt-main-title.color-blue-dark.mobile-txt-left.
                                The "ix" in our name comes from the infrastructure and experience of genetic testing.  The “Layer” in our name comes from that fact that we have removed all of the layers needed to launch a genetic product.
                .section-second-about-principles
                    .section-second-about-principles__inner
                        h1.title--blue-dark#values.mobile-txt-left.title-align Mission & Values
                        .section-second-about-principles__title-txt
                            p.txt-main-title.color-blue-dark.mobile-txt-left.
                                Our defining principles is in the core of who we are as individuals and collectively as a company. These are the building block for our DNA.
                        .section-second-about-principles__boxes
                            .principles-boxes.blue-dark Trust and Security
                            .principles-boxes.puprle-blue Get Stuff Done
                            .principles-boxes.purple-dark Collaborative
                            .principles-boxes.pink Breaking Barriers
                        .section-second-about-principles__column
                            .row
                                .section-second-about-principles__wrap
                                    .col-lg-6.col-md-6.col-sm-6
                                        h3.title-third--regular.title-third--blue-dark.mobile-txt-left.title-align Product at ixLayer
                                        .principles-column__txt-about
                                            p.txt-about.color-blue-dark.txt-about--middle-line-height.mobile-txt-left.
                                                We think that building a genetic product is a problem rooted in technology and regulatory, not science. Our regulated infrastructure enables companies to leverage their internal scientific and clinical knowledge to bring new offerings to market in days, not months. Best of all, our team of industry experts work side by side with you to accelerate innovation beyond anything you previously thought possible.
                                .section-second-about-principles__wrap
                                    .col-lg-6.col-md-6.col-sm-6
                                        h3.title-third--regular.title-third--blue-dark.mobile-txt-left.title-align Culture at ixLayer
                                        .principles-column__txt-about
                                            p.txt-about.color-blue-dark.txt-about--middle-line-height.mobile-txt-left.
                                                ixLayer is not just about writing world-class code, we care deeply about design and user engagement. It is not enough just to sell a product or service but to truly create value for the user. To achieve this we continuously collaborate because we believe the whole is greater than the sum of its parts.  Our team has previously built innovative products at Yahoo, Illumina,  Helix, IBM, FLickr, OpenTV, and more.

