section.section-second-about
    .container.container-lg
        .row
            .col-lg-12
                .section-second-about-txt
                    .section-second-about-txt__inner
                        .section-second-about-txt__row
                            p.txt-main-title.color-blue-dark.
                                The beauty of the genomic industry is that 
                                the aspiration for all companies are the same
                                and that is to transform human health.
                        .section-second-about-txt__row
                            p.txt-main-title.color-blue-dark.
                                Illumina’s sequencing innovations acceleras the 
                                industry exponentially. Helix cloud platform removes
                                the complexity and the need of running and operating a 
                                sequencing lab. The science provided by our clients makes 
                                it possible for their users to understanding their 
                                own genetic variation.
                .section-second-about-quote
                    .section-second-about-quote__image
                        .image-quote
                    .section-second-about-quote__txt
                        p.txt-about.txt-about--blue.txt-about--large-line-height.
                            Our job in this genomic ecosystem is 
                            to provide the needed technology, delivered
                            with a personalized user friendly experience 
                            which we call a genetic product.
                        .section-second-about-quote__txt-bottom
                            p.txt-about-small.color-blue-dark Pouria Sanae, co-founder and CEO of ixLaye
                .section-second-about-why
                    .section-second-about-why__inner
                        h1.title--blue-dark Why ixLayer?
                        .section-second-about-why__title-txt
                            p.txt-main-title.color-blue-dark.
                                The "ix" in our name comes from the infrastructure
                                and experience of genetic testing.  The “Layer” in  
                                our name comes from that fact that we have have 
                                simplified launch a genetic product to four basic  
                                layers of backend, frontend, service, and operations.
                .section-second-about-principles
                    .section-second-about-principles__inner
                        h1.title--blue-dark Our Defining Principles
                        .section-second-about-principles__title-txt
                            p.txt-main-title.color-blue-dark.
                                Our defining principles is in the core of who
                                we are as individuals and collectively 
                                as a company. These are the building block for our DNA.
                        .section-second-about-principles__boxes
                            .principles-boxes.blue-dark Trust and Security
                            .principles-boxes.boxes.puprle-blue Get Stuff Done
                            .principles-boxes.boxes.purple-dark Collaborative
                            .principles-boxes.boxes.pink Breaking Barriers
                        .section-second-about-principles__column
                            .col-lg-6.col-md-6.col-sm-6
                                h3.title-third--regular.title-third--blue-dark Building a generic product
                                .principles-column__txt-about
                                    p.txt-about.color-blue-dark.txt-about--middle-line-height.
                                        We think that building a genetic product is 
                                        a problem rooted in technology and regulatory, 
                                        not science. Our regulated infrastructure enables 
                                        companies to leverage their internal scientific and 
                                        clinical knowledge to bring new offerings to market in 
                                        days, not months. Best of all, our team of industry experts 
                                        work side by side with you to accelerate innovation beyond 
                                        anything you previously thought possible.
                            .col-lg-6.col-md-6.col-sm-6
                                h3.title-third--regular.title-third--blue-dark Engineering at ixLayer
                                .principles-column__txt-about
                                    p.txt-about.color-blue-dark.txt-about--middle-line-height.
                                        Engineering at ixLayer is not just about writing 
                                        world-class code, we care deeply about design and 
                                        user interface. We continuously collaborate because 
                                        we believe the whole is greater than the sum of its parts.  
                                        We really like startups and building products—the people at 
                                        ixLayer have previously helped development of Flickr, Helix, 
                                        Illumina, OpenTV, and Wanda.

