section.section-third-about
    .container.container-lg
        .row
            .col-lg-12
                .section-third-about__content
                    .title-second.title-second--medium.title-second--blue-dark
                        h2.title-second__section-third-about Our investors and partners
                    .about-txt.about-txt--blue-dark
                        .about-txt__section-third-about.
                            In vulputate velit sit amet augue pulvinar, 
                            ac condimentum ipsum tempus. Phasellus in risus 
                            lacinia, facilisis velit quis, malesuada felis.
                    .section-third-about__boxes
                        .investor-box
                            .investro-box__inner
                        .investor-box
                            .investro-box__inner
                        .investor-box
                            .investro-box__inner
                        .investor-box
                            .investro-box__inner
                        .investor-box
                            .investro-box__inner
