$white: #fff
$white-2: #F6F9FC
$white-3: #F7F9FC
$white-grey: #F5F5F5
$white-grey-2: #FAFAFA 
$white-green: #f2feef
$silver: #888
$silver-2: #8898AA
$silver-blue: #333F4C
$green: #3AC69D
$green-2: #59FEB1
$green-3: #3ecf8e
$green-4: #24b47e
$green-light: #4BDBB1
$purple: #CF3095
$purple-2: #545377
$purple-3: #BC72DB
$purple-4: #BD7ABD
$purple-5: #525f7f
$purple-6: #7795f8
$purple-blue: #6772e5
$purple-light: #E847AD
$purple-dark: #32325d
$pink: #EB89B7
$pink-2: #f9a18a
$pink-3: #f6a4eb
$blue: #5F83DA
$blue-2: #69D5FB
$blue-3: #4850A2
$blue-4: #62B1D9
$blue-light: #6D91E9
$blue-light-2: #D7F5FD
$blue-light-3: #88c5fc
$blue-light-4: #83CBF1
$blue-light-5: #68d4f8
$blue-dark: #657E97
$blue_back-top: #223761
$blue_back-bottom: #36508D
$blue-light-dark: #6E73F9
$blue-purple: #7C72DB
$grey: #E1F0FF
$grey-2: #AEAEAE
$grey-3: #ADB5C9
$grey-4: #f2f6fa
$grey-5: #e4edf5
$grey-6: #829BA5
$grery-white: #F3F9FF
$grey-white-2: #97C0CF
$grey-light: #DFDFDF
$grye-light-2: #F4F8FB
$yellow: #f7e88b
$red: #F84444
$red-2: #fa755a
$orange: #f5be58
 
$background-blue: linear-gradient(to bottom, $blue_back-top, $blue_back-bottom)
$background-blue-light: linear-gradient(to left, $blue-4, $blue-light-4)
$background-grey: linear-gradient(to bottom, $blue-dark, $silver-blue)
$background-grey-2: linear-gradient(to bottom, $grey-6, $grey-white-2)
$background-grey-light: linear-gradient(to bottom, $white-2, $white)



//breakpoint
$breakpoint-device: 1199px
$breakpoint-device-2: 1326px
$breakpoint-device-3: 1528px
$breakpoint-device-4: 1710px
$breakpoint-tablet: 992px
$breakpoint-mobile: 767px
$breakpoint-mobile-low: 564px




