section.head-contact
    .head-contact__background
        .main-background.main-background--light-blue
    .container.container-lg
        .row
            include ../../_nav
        .row
            .head-contact-content
                .col-lg-9.col-md-8.col-sm-8.col-xs-12
                    .title
                        h1.title__head Sign in
                    .title-about
                        p.title-contact__head.
                            Our team is happy to answer your sales questions. 
                            Fill out the form and we’ll be in touch as soon as possible.
