section.head-sign
    .head-sign__background
        .main-background.main-background--grey-second
    .container.container-lg
        .row
            include ../../_nav
        .row
            .head-sign-content
                .col-lg-9.col-md-8.col-sm-8.col-xs-12
                    .head-sign__title
                        h1 Sign in
                    .head-sign__txt-main
                        p.txt-main-title.
                            Our team is happy to answer your sales questions.
                            Fill out the form and we’ll be in touch as soon as possible.
       
            
