section.head-sign
    .head-sign__background
        .main-background.main-background--grey-second
    .container.container-lg
        .row
            include ../../_nav
        .row
            .head-sign-content
                .col-lg-9.col-md-8.col-sm-8.col-xs-12
                    .head-sign__title
                        h1 Sign in
                    .head-sign__txt-main
                        p.txt-main-title.
                            Sign In to ixLayer Developer Portal using your company credentials.  If you do not have credentials,
                            please contact us at support@ixlayer.com for getting access to ixlayer API and integration documentation.
       
            
