.header-logo
    .rect.rect-top
        .rect-txt
            span.rect-top__txt Platform layer
    .rect.rect-middle-first
        .rect-txt
            span.rect-middle-first__txt Backend layer
    .rect.rect-middle-second
        .rect-txt
            span.rect-middle-second__txt Operation layer
    .rect.rect-bottom
        .rect-txt
            span.rect-bottom__txt Health service layer