.stripe-section-logo
    .stripe-section-logo__circle.stripe-section-logo__circle--fourth.stripe-section-logo__circle--big
        .stripe-section-logo__circle-inner.stripe-section-logo__circle-inner--big