section.section-third
    .section-third-background
    .section-third__inner
        .container.container-lg
            .row
                .col-lg-12
                    .stripe-section-title
                        .stripe-section-title__inner
                            .stripe-section-title__txt
                                h2.title-second--blue.
                                    Focus on the science and your users,
                                    not on infrastructure
            .row.row-third__image
                .col-lg-6.col-md-6.col-sm-12.col-xs-12
                    .connect-box
                        .connect-box__wrap
                            .connect-box__title
                                .title-seventh.title-seventh--connect Without connect
                            .connect-box__txt
                                .about-txt-box.
                                    Without ixLayer developing a genetic product includes integration with Helix and a physician-network, backend-, frontend- and mobile development, security and encryption, cloud architecture, CLIA compliance, and operation.
                            .connect-box-table
                                ul.connect-box-table__wrap
                                    li.connect-box-table__item
                                        .connect-box-table__label.connect-box-table__label--routing
                                            span.label.label--blue Product Concept
                                    li.connect-box-table__item
                                        .connect-box-table__label.connect-box-table__label--onboarding
                                            span.label.label--purple Web & Mobile Development
                                    li.connect-box-table__item
                                        .connect-box-table__label.connect-box-table__label--compliance
                                            span.label.label--pink Cloud Architecture
                                    li.connect-box-table__item
                                        .connect-box-table__label.connect-box-table__label--management
                                            span.label.label--orange Scientific Evaluation
                                    li.connect-box-table__item
                                        .connect-box-table__label.connect-box-table__label--international
                                            span.label.label--red Testing
                                    li.connect-box-table__item
                                        .connect-box-table__label.connect-box-table__label--live
                                            span.label.label--green Live
                .col-lg-6.col-md-6.col-sm-12.col-xs-12
                    .connect-box
                        .connect-box__wrap
                            .connect-box__title.connect-box__title--green
                                .title-seventh.title-seventh--connect With ixLayer
                            .connect-box__txt.connect-box__txt--second
                                .about-txt-box.
                                   With ixLayer, all that is needed is your scientific and clinical knowledge. Focus on your business strategy, go to market strategy, and launching revenue-generating products within fraction of the cost and time.
                            .connect-box-table
                                ul.connect-box-table__wrap.connect-box-table__wrap--second
                                    li.connect-box-table__item
                                        .connect-box-table__label.connect-box-table__label--routing
                                            span.label.label--blue Science
                                    li.connect-box-table__item
                                        .connect-box-table__label.connect-box-table__label--live
                                            span.label.label--green.label--green-big Live
