section.head
    .head-background
    .head__wrap-image
        img.head-image.hidden-xs(src="./img/index/app.png")
    .container.container-lg
        .row
            include ../../_nav
        .row
            section.header-content
                .col-lg-9.col-md-7.col-sm-7
                    .header-content-title
                        .header-content-title__inner
                            h1 A complete solution to launch genetic product
                        .header-content-title__txt
                            p.txt-main-title.
                                ixLayer is a (technology / IT) infrastructure and an end-to-end solution for healthcare, wellness, nutrition and lifestyle companies to offer range of customized genetic products or test.
                            p.txt-main-title.
                                Launch your genetic product today
                    .header-content-button
                        .header-content-button__inner
                            a(href="" class="bt green") Explore Solutions
                                a(href="#")
                            a(href="" class="bt grey") Request a demo
                    
section.header-content-bottom
    .container.container-lg
        .row
            .col-lg-9.col-md-9
                .header-content-bottom__inner
                    .header-content-bottom__title
                        h2.title-second--blue The tipping point of an market
                    .header-content-bottom__txt
                        p.txt-main-title.txt-main-title--blue-dark.
                            Genetics will be an obvious personalization 
                            factor for consumer products in the future, 
                            but this future is already here and the 
                            opportunity is now. Here are the reasons
        .row
            .section-first-technologies
                .section-first-technologies__wrap
                    .col-lg-3.col-md-6.col-sm-6.col-xs-12
                        .technologies-about
                            .technologies-about__image
                                .image-least.image-least--icon-price
                            .technologies-about__title
                                h3.title-third--blue Sequencing Cost
                            .technologies-about__txt-about
                                p.txt-about-small.txt-about-small--purple-2.
                                        Illumina new technology drives the cost of DNA sequencing cost to below $100
                    .col-lg-3.col-md-6.col-sm-6.col-xs-12
                        .technologies-about
                            .technologies-about__image
                                .image-least.image-least--icon--platform
                            .technologies-about__title
                                h3.title-third--blue Platform
                            .technologies-about__txt-about
                                p.txt-about-small.txt-about-small--purple-2.
                                        Helix platform removes burden of having 
                                        genomic lab and the  bioinformatic pipeline
                    .col-lg-3.col-md-6.col-sm-6.col-xs-12
                        .technologies-about
                            .technologies-about__image
                                .image-least.image-least--icon-ixlayer
                            .technologies-about__title
                                h3.title-third--blue Increasing Demand
                            .technologies-about__txt-about
                                p.txt-about-small.txt-about-small--purple-2.
                                        Genetic product was one of the five best-selling 
                                        products on Amazon during the holiday season
                    .col-lg-3.col-md-6.col-sm-6.col-xs-12
                        .technologies-about
                            .technologies-about__image
                                .image-least.image-least--icon-market
                            .technologies-about__title
                                h3.title-third--blue Market Growth
                            .technologies-about__txt-about
                                p.txt-about-small.txt-about-small--purple-2.
                                        Startups and Industry leaders saw 3-10x exponential growth in 2017

