section.section-second
    .section-second-background
    .section-second__inner
        .container.container-lg
            .row
                .col-lg-12
                    .stripe-section-title
                        .stripe-section-title__inner
                            include ../partials/_logo-circle
                            .stripe-section-title__txt
                                h2.title-second--blue Title Placeholder
            .row
                .section-second__txt
                    .col-lg-5.col-md-5.col-sm-5.col-xs-12
                        .section-second__txt-left
                            p.txt-about.txt-about--blue.txt-about--large-line-height.
                                Launching a genetic product is 
                                technically complex, costly, time consuming, 
                                resource heavy, and regulatory challenging
                    .col-lg-7.col-md-7.col-sm-7.col-xs-12
                        .section-second__txt-right
                            p.txt-main-title.txt-main-title--blue-dark.
                                IxLayer builds the most powerful and flexible 
                                tools for genetic companies to solve all of that. 
                                Whether you’re launching a genetic nutrition app, 
                                wellness genetic product, or an Alzheimer's healthcare tes, 
                                Ixlayer’s end-to-end mobile and web solution or ixlayer’s 
                                infrastructure solution will help you create the best possible 
                                product for your users.
            .row
                .section-second__image
                    .image-middle
        .container.container-space
            .row
                .secion-second-text-item
                    .col-lg-4.col-md-4.col-sm-4.col-xs-12
                        .logo
                            .logo__inner.logo__inner-integrated
                        .secion-second-text-item__title
                            h3.title-third--blue Integrated
                        .secion-second-text-item__txt
                            p.txt-about-small.txt-about--purple-2.
                                Full integrated with the ecosystem, 
                                IxLayer provides a complete set of genetic 
                                service building blocks to support virtually any application. 
                            p.txt-about-small.txt-about--purple-2.
                                These service blocks includes Helix Sequencing lab, 
                                Physician Networks, ondemand Genetic counsellors, Apple 
                                Health- & Research Kit, CLIA Certification for 
                                your products, and more...
                    .col-lg-4.col-md-4.col-sm-4.col-xs-12
                        .logo
                            .logo__inner.logo__inner-customizable
                        .secion-second-text-item__title
                            h3.title-third--blue Customizable
                        .secion-second-text-item__txtl
                            p.txt-about-small.txt-about--purple-2.
                                Either choose the Ixlayer-infrastructure solution 
                                and easily integrate with your existing platform, 
                                or choose the ixlayer End-To-End solution and have 
                                our product team work with you to create the best design 
                                and user experience across web and IOS. 
                    .col-lg-4.col-md-4.col-sm-4.col-xs-12
                        .logo
                            .logo__inner.logo__inner-operation
                        .secion-second-text-item__title
                            h3.title-third--blue Operation Not Needed
                        .secion-second-text-item__txt
                            p.txt-about-small.txt-about--purple-2.
                                All Ixlayer products are fully maintained by our 
                                team so that you no longer need to worry about 
                                operation resources. This includes platform updates, 
                                Integration and certificate management, Source code updates, 
                                monitoring & logs, security patching, post launch change, 
                                CLIA audits, and more...


                
