section.section-fifth
    .section-fifth-background
    .container.container-lg
        .row
            .col-lg-12
                .title-border.title-boder--fifth ixAnyPoint
                .section-fifth__about-txt
                    p.txt-about.txt-about--middle-line-height.
                        ixLayer lets you spend your development time on your core feature, product improvements and ship them faster. An infrastructure that can be used as a stand-alone or complementary to your own backend solution.
        .row
            .tabs.tabs--fifth
                ul.nav.nav-tabs#nav-tab(role="tablist")
                    li.nav-item.active
                        a.nav-link#frontend-tab(data-toggle="tab" href="#frontend" role="tab" aria-controls="frontend" aria-selected="true") Frontend APIs
                    li.nav-item
                        a.nav-link#ios-libraries-tab(data-toggle="tab" href="#ios-libraries" role="tab" aria-controls="ios-libraries" aria-selected="false") IOS Libraries
                    li.nav-item
                        a.nav-link#open-source-tab(data-toggle="tab" href="#open-source" role="tab" aria-controls="open-source" aria-selected="false") Open Source plugin
                    li.nav-item
                        a.nav-link#data-routing-tab(data-toggle="tab" href="#data-routing" role="tab" aria-controls="data-routing" aria-selected="false") Data Routing
                    li.nav-item
                        a.nav-link#versioned-api-tab(data-toggle="tab" href="#versioned-api" role="tab" aria-controls="versioned-api" aria-selected="false") Genetic Ecosystem
                    li.nav-item
                        a.nav-link#clinical-research-tab(data-toggle="tab" href="#clinical-research" role="tab" aria-controls="clinical-research" aria-selected="false") Clinical Research
                    li.nav-item
                        a.nav-link#security-tab(data-toggle="tab" href="#security" role="tab" aria-controls="security" aria-selected="false") Security
                    li.nav-item
                        a.nav-link#update-improvements-tab(data-toggle="tab" href="#update-improvements" role="tab" aria-controls="update-improvements" aria-selected="false") Update & improvements
    .container-large-second.container--section-fifth
        .tab-content#nav-tabContent
            .tab-pane.fade.active.in#frontend(role="tabpanel" aria-labelledby="frontend-tab")
                .tab__inner
                    .tab-txt
                        .tab-txt__title
                            h3.not-indent Frontend APIs
                        .tab-txt__about
                            p.txt-about.
                                For your exciting stack whether you are using React, Angular, Vue or just Vanilla js.
                            p.txt-about.
                                Ready to be integrated with your frontend.
                        .buttons
                            a(href="/ixAnypoint.html").bt.purple Explore Solution
                            a(href="/contact-us").bt.grey Request a demo
                    .tab__image
                        img(src="img/index/solution-2.png").image-tab-ix-solution-second
            .tab-pane.fade#ios-libraries(role="tabpanel" aria-labelledby="ios-libraries-tab")
                .tab__inner
                    .tab-txt
                        .tab-txt__title
                            h3.not-indent IOS Libraries
                        .tab-txt__about
                            p.txt-about.
                                Open Source IOS Cocoapods libraries to give you full visibility and add genetic component to your application. Take advantage of pre-made components to launch faster with simplified operations.
                        .buttons
                            a(href="/ixAnypoint.html").bt.purple Explore Solution
                            a(href="/contact-us").bt.grey Request a demo
                    .tab__image
                        img(src="img/index/solution-2.png").image-tab-ix-solution-second
            .tab-pane.fade#open-source(role="tabpanel" aria-labelledby="open-source-tab")
                .tab__inner
                    .tab-txt
                        .tab-txt__title
                            h3.not-indent Open Source plugins
                        .tab-txt__about
                            p.txt-about.
                                Open source integration plugins to launch genetic product on WordPress, Drupal, or Joomla .
                        .buttons
                            a(href="/ixAnypoint.html").bt.purple Explore Solution
                            a(href="/contact-us.html").bt.grey Request a demo
                    .tab__image
                        img(src="img/index/solution-2.png").image-tab-ix-solution-second
            .tab-pane.fade#data-routing(role="tabpanel" aria-labelledby="data-routing-tab")
                .tab__inner
                    .tab-txt
                        .tab-txt__title
                            h3.not-indent Data Routing
                        .tab-txt__about
                            p.txt-about.
                                No need for backend integration. All service routing is done for you. From collecting user info at purchase, requesting physician approval for the test, fetching and interpreting the result, and delivering report to frontend.
                        .buttons
                            a(href="/ixAnypoint.html").bt.purple Explore Solution
                            a(href="/contact-us.html").bt.grey Request a demo
                    .tab__image
                        img(src="img/index/solution-2.png").image-tab-ix-solution-second
            .tab-pane.fade#versioned-api(role="tabpanel" aria-labelledby="versioned-api-tab")
                .tab__inner
                    .tab-txt
                        .tab-txt__title
                            h3.not-indent Genetic Ecosystem
                        .tab-txt__about
                            p.txt-about.
                                Integration with Helix sequencing platform, physician networks, on demand genetic counselors, CLIA certified interpretation and reporting, and compliant with HIPAA guidelines.
                        .buttons
                            a(href="/ixAnypoint.html").bt.purple Explore Solution
                            a(href="/contact-us.html").bt.grey Request a demo
                    .tab__image
                        img(src="img/index/solution-2.png").image-tab-ix-solution-second
            .tab-pane.fade#clinical-research(role="tabpanel" aria-labelledby="clinical-research-tab")
                .tab__inner
                    .tab-txt
                        .tab-txt__title
                            h3.not-indent Clinical Research
                        .tab-txt__about
                            p.txt-about.
                                Run a clinical research study in your app. Leverage new surveys or choose from validated tools. Visualize the phenotype and genotype data and discover possible correlations
                        .buttons
                            a(href="/ixAnypoint.html").bt.purple Explore Solution
                            a(href="/contact-us.html").bt.grey Request a demo
                    .tab__image
                        img(src="img/index/solution-2.png").image-tab-ix-solution-second
            .tab-pane.fade#security(role="tabpanel" aria-labelledby="security-tab")
                .tab__inner
                    .tab-txt
                        .tab-txt__title
                            h3.not-indent Security
                        .tab-txt__about
                            p.txt-about.
                                Fully compliant with industry security guidelines, data encryption in rest and transit, cloud security services, managed detection/response, incident reporting, and 3rd party security audits.
                        .buttons
                            a(href="/ixAnypoint.html").bt.purple Explore Solution
                            a(href="/contact-us.html").bt.grey Request a demo
                    .tab__image
                        img(src="img/index/solution-2.png").image-tab-ix-solution-second
            .tab-pane.fade#update-improvements(role="tabpanel" aria-labelledby="update-improvements-tab")
                .tab__inner
                    .tab-txt
                        .tab-txt__title
                            h3.not-indent Update & Improvements
                        .tab-txt__about
                            p.txt-about.
                                Always improving infrastructure to provide new features and always be in sync with all its services such as Helix genetic pipeline changes, regulatory updates, new IOS releases and more...
                        .buttons
                            a(href="/ixAnypoint.html").bt.purple Explore Solution
                            a(href="/contact-us.html").bt.grey Request a demo
                    .tab__image
                        img(src="img/index/solution-2.png").image-tab-ix-solution-second
