section.section-fifth
    .section-fifth-background
    .container.container-lg
        .row
            .col-lg-12
                .title-border.title-boder--fifth ixAnyPoint
                .section-fifth__about-txt
                    p.txt-about.txt-about--middle-line-height.
                        ixAnyPoint is an infrastructure solution that 
                        provides all needed technology building blocks 
                        for launching genetic products, deployed and 
                        ready to run on a secure HIPAA architecture, 
                        with a regulatory layer for CLIA compliance. 
        .row.section-fifth__ixAnypoint-content
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
                .section-fifth__ixAnypoint-txt
                    .ixAnypoint-title
                        .ixAnypoint-title__txt
                            h3 This includes:
                    ul.ixAnypoint-order
                        li.ixAnypoint-order__item
                            .txt-about Frontend APIs for your exciting stack 
                        li.ixAnypoint-order__item
                            .txt-about IOS Libraries to add genetic component to you App
                        li.ixAnypoint-order__item
                            .txt-about Fully integrated with all  genomic services 
                        li.ixAnypoint-order__item
                            .txt-about Hands-off operation, monitoring, and security
                        li.ixAnypoint-order__item
                            .txt-about HIPAA and Regulatory compliance
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
                .section-fifth__ixAnypoint-image
                    object(type="image/svg+xml",data="./img/index/simpleintegration.svg").ixAnypoint-image
        .row
            .col-lg-12
                .ixAnypoint-description__title-top
                     p.txt-about.txt-about--middle-line-height.
                        ixlayer is configurable to be integrated 
                        with your existing technology stack or as 
                        standalone end-to-end backend solution for 
                        your web and mobile application.
        .row.section-fifth__ixAnypoint-images
            .col-lg-6.col-md-6.col-sm-12
                .ixAnypoint-descriptio__title-images
                    h3 Stand alone
                .ixAnypoint-images__inner
                    object(type="image/svg+xml",data="./img/ixAnypoint/standalone.svg").ixAnypoint-images.ixAnypoint-images--first
            .col-lg-6.col-md-6.col-sm-12
                .ixAnypoint-descriptio__title-images
                    h3 In parallel with your backend
                .ixAnypoint-images__inner
                    object(type="image/svg+xml",data="./img/ixAnypoint/inparallel.svg").ixAnypoint-images.ixAnypoint-images--second
        .row
            .col-lg-12
                .ixAnypoint-description__title-bottom
                     p.txt-about.txt-about--middle-line-height.
                        ixLayer lets you spend your development 
                        time on your core feature, product improvements 
                        and ship them faster. An infrastructure that can 
                        be used as a stand-alone or complementary to your 
                        own backend solution. 
        .row
            .section-fifth__buttons
                a(href="/ixanypoint.html").bt.purple Explore Solution
                a(href="/contact-us.html").bt.grey Request a demo