section.section-fourth
    .section-fourth-background
    .container.container-lg
        .row
            .col-lg-12
                .title-border.title-border--fourth ix360 an End to End solution
                .section-fourth__about-txt
                    p.txt-about.txt-about--middle-line-height.
                        Ix360 sEnd-to-end solution is everything you need to launch a genetic product. All that is needed from your side is the scientific claims and ixLayer will provide you best in class, web and mobile, user friendly genetic products.  This includes:
        .row
            .tabs
                ul.nav.nav-tabs#nav-tab(role="tablist")
                    li.nav-item.active
                        a.nav-link#custome-product-tab(data-toggle="tab" href="#custome-product" role="tab" aria-controls="custome-product" aria-selected="true") Costume product design
                     li.nav-item
                        a.nav-link#web-mobile-tab(data-toggle="tab" href="#web-mobile" role="tab" aria-controls="web-mobile" aria-selected="false") Web and mobile
                     li.nav-item
                        a.nav-link#ecosystem-tab(data-toggle="tab" href="#ecosystem" role="tab" aria-controls="ecosystem" aria-selected="false") Integrated with the ecosystem
                     li.nav-item
                        a.nav-link#operation-tab(data-toggle="tab" href="#operation" role="tab" aria-controls="operation" aria-selected="false") Hands off Operation
    .container-large
        .tab-content#nav-tabContent
            .tab-pane.fade.active.in#custome-product(role="tabpanel" aria-labelledby="custome-product-tab")
                .tab__inner
                    .tab__image
                        img(src="img/index/solution-1.png").image-tab-ix-solution
                    .tab-txt.tab-txt--section-fourth
                        .tab-txt__title
                            h3.not-indent Costume product design
                        .tab-txt__about
                            p.txt-about.
                                ixLayer product and design teams will work together with you to create the interface and the experience that fits your users need. This includes product brainstorming, identifying value propositions, design that speaks for your brand and a feature rich product for your genetic application.
                        .buttons
                            a(href="").bt.purple Explore Solution
                            a(href="").bt.grey Request a demo
            .tab-pane.fade#web-mobile(role="tabpanel" aria-labelledby="web-mobile-tab")
                .tab__inner
                    .tab__image
                         img(src="img/index/solution-1.png").image-tab-ix-solution
                    .tab-txt.tab-txt--section-fourth
                        .tab-txt__title
                            h3.not-indent Web and Mobile
                        .tab-txt__about
                            p.txt-about.
                               Custom web, mobile-web and Native IOS application built on top of ixLayer infrastructure with integration to Helix mobile SDK, Apple payment services, Apple Health & Research-kit integration, supporting one or multiple genetic products / tests.
                        .buttons
                            a(href="").bt.purple Explore Solution
                            a(href="").bt.grey Request a demo
            .tab-pane.fade#ecosystem(role="tabpanel" aria-labelledby="ecosystem-tab")
                .tab__inner
                    .tab__image
                         img(src="img/index/solution-1.png").image-tab-ix-solution
                    .tab-txt.tab-txt--section-fourth
                        .title-fourth.title-fourth--white
                            h4.title-fourth__tabs Integrated with the ecosystem
                        .tab-txt__about
                            p.txt-about.
                                Fully integrated with all needed services to launch a genetic consumer product or genetic health product. These services includes Helix sequencing platform, physician networks, on demand genetic counselors, CLIA certified interpretation and reporting, and compliance with HIPAA guidelines.
                        .buttons
                            a(href="").bt.purple Explore Solution
                            a(href="").bt.grey Request a demo
            .tab-pane.fade#operation(role="tabpanel" aria-labelledby="operation-tab")
                .tab__inner
                    .tab__image
                         img(src="img/index/solution-1.png").image-tab-ix-solution
                    .tab-txt.tab-txt--section-fourth
                        .title-fourth.title-fourth--white
                            h4.title-fourth__tabs Hands off Operation
                        .tab-txt__about
                            p.txt-about.
                                Running operation post launch inducing daily DevOps., platform updates, admin userdata access, platform analytics, Integration- and certificate management, source code updates, monitoring & logs, security patching, post launch bug fixes, API versioning, and updates from supported services.
                        .buttons
                            a(href="").bt.purple Explore Solution
                            a(href="").bt.grey Request a demo
