section.section-second
    .section-second-background
    .section-second__inner
        .container.container-lg
            .row
                .col-lg-12
                    .stripe-section-title
                        .stripe-section-title__inner
                            .stripe-section-title__txt
                                h2.title-second--blue Genetic toolkit
            .row
                .section-second__txt
                    .col-lg-5.col-md-5.col-sm-5.col-xs-12
                        .section-second__txt-left
                            p.txt-about.txt-about--blue.txt-about--large-line-height.
                                Launching a genetic product is technically complex, time consuming, resource heavy, regulatory challenging and costly endeavor
                    .col-lg-7.col-md-7.col-sm-7.col-xs-12
                        .section-second__txt-right
                            p.txt-main-title.txt-main-title--blue-dark.
                                ixLayer provides the most powerful and flexible tools for genetic companies to solve all of that. Whether you’re launching a genetic nutrition app, wellness product, or an Alzheimer's healthcare test, ixLayer’s end-to-end mobile and web solution or ixLayer’s infrastructure solution will help you create the best possible product for your users
        .container
            .row
                .section-second__image.only-mobile
                    object(type="image/svg+xml",data="./img/index/info_mobile.svg").image-ixlayer-infrastructure
                .section-second__image.not-mobile
                    object(type="image/svg+xml",data="./img/index/ixlayer-infrastructure.svg").image-ixlayer-infrastructure
        .container
            .row
                .secion-second-text-item
                    .col-lg-4.col-md-4.col-sm-4.col-xs-12
                        .secion-second-text-item__title
                            h3.title-third--blue.mobile-txt-left.title-align Integrated
                        .secion-second-text-item__txt
                            p.txt-about-small.txt-about--purple-2.mobile-txt-left.
                                Fully integrated with the ecosystem, ixLayer provides a complete set of building blocks to support virtually any application.
                            p.txt-about-small.txt-about--purple-2.mobile-txt-left.
                                These include Helix Sequencing lab, Physician Networks, ondemand Genetic counsellors, Apple Health- & Research Kit, CLIA Certification for your products, and more...
                    .col-lg-4.col-md-4.col-sm-4.col-xs-12
                        .secion-second-text-item__title
                            h3.title-third--blue.mobile-txt-left.title-align Customizable
                        .secion-second-text-item__txtl
                            p.txt-about-small.txt-about--purple-2.mobile-txt-left.
                                Either choose the ixAnyPoint infrastructure solution and easily integrate with your existing platform, or choose the ix360 end-to-end solution and have our product team work with you to create the best design and user experience for your genetic product, across web and IOS.
                    .col-lg-4.col-md-4.col-sm-4.col-xs-12
                        .secion-second-text-item__title
                            h3.title-third--blue.mobile-txt-left.title-align Hands-off Operations
                        .secion-second-text-item__txt
                            p.txt-about-small.txt-about--purple-2.mobile-txt-left.
                                There is no longer a need for you to worry about maintenance- or operation resources. ixLayer solutions include platform updates, integration and certificate management, source code updates, monitoring & logs, security, post launch change, CLIA audits, and more...



                
