section.section-fourth
    .section-fourth-background
    .container.container-lg
        .row
            .col-lg-12
                .title-border.title-border--fourth ix360
                .section-fourth__about-txt
                    p.txt-about.txt-about--middle-line-height.
                        ix360 end-to-end solution is everything 
                        you need to launch a genetic product. 
                        All that is needed from your side is 
                        the scientific claims and ixLayer will 
                        provide you best in class, web and mobile, 
                        user friendly genetic products.
        .row.section-fourth__ix360-content
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
                .section-fourth__ix360-image
                    object(type="image/svg+xml",data="./img/index/ix360info.svg").ix360-image
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
                .section-fourth__ix360-txt
                    .ix360-title
                        .ix360-title__txt
                            h3 This includes:
                    ul.ix360-order
                        li.ix360-order__item
                            .txt-about Custom product design 
                        li.ix360-order__item
                            .txt-about Custom Web and Mobile Application
                        li.ix360-order__item
                            .txt-about Fully integrated with all  genomic services
                        li.ix360-order__item
                            .txt-about Hands-off operation, monitoring, and security
                        li.ix360-order__item
                            .txt-about HIPAA and Regulatory compliance
        .row
            .section-fourth__ix360-description
                .col-lg-6.col-md-6.col-sm-6.col-xs-12
                    .ix360-description
                        .ix360-description__inner
                            .txt-about.text-center.
                                Reduce your development cost by 80%
                                Eliminate the need for domain-expert personnel, 
                                develop and operate cloud infrastructure by 
                                utilizing production-ready services. 
                .col-lg-6.col-md-6.col-sm-6.col-xs-12
                    .ix360-description
                        .ix360-description__inner
                            .txt-about.text-center.
                                Reduce time to market by 4-5 months. 
                                Spend your time on marketing strategies  
                                vs. months of engineering to reinvent the wheel.
        .row
            .section-fourth__buttons
                a(href="/ixAnypoint.html").bt.purple Explore Solution
                a(href="/contact-us.html").bt.grey Request a demo
 
                     


    
