section.section-third
    .section-third-background
    .section-third__inner
        .container.container-lg
            .row
                .col-lg-12
                    .stripe-section-title
                        .stripe-section-title__inner
                            .stripe-section-logo
                                .stripe-section-logo__circle
                                    .stripe-section-logo__circle-inner
                            .stripe-section-title__txt
                                h2.title-second--blue.
                                    Focus on the science and your users,
                                    Not on infrastructure
            .row.row-third__image
                .col-lg-6.col-md-6.col-sm-12.col-xs-12
                    .connect-box
                        .connect-box__wrap
                            .connect-box__title
                                .title-seventh.title-seventh--connect Without connect
                            .connect-box__txt
                                .about-txt-box.
                                    Without Connect, build and maintain user onboarding, complience, pay-in
                                    and pay-out networks, reporting, and platform operations,
                                    and take longer to launch.
                            .connect-box-table
                                ul.connect-box-table__wrap
                                    li.connect-box-table__item
                                        .connect-box-table__label.connect-box-table__label--routing
                                            span.label.label--blue Routing Payments
                                    li.connect-box-table__item
                                        .connect-box-table__label.connect-box-table__label--onboarding
                                            span.label.label--purple Onboarding & Verification
                                    li.connect-box-table__item
                                        .connect-box-table__label.connect-box-table__label--compliance
                                            span.label.label--pink Compliance
                                    li.connect-box-table__item
                                        .connect-box-table__label.connect-box-table__label--management
                                            span.label.label--orange Platform management
                                    li.connect-box-table__item
                                        .connect-box-table__label.connect-box-table__label--international
                                            span.label.label--red International support
                                    li.connect-box-table__item
                                        .connect-box-table__label.connect-box-table__label--live
                                            span.label.label--green Live
                .col-lg-6.col-md-6.col-sm-12.col-xs-12
                    .connect-box
                        .connect-box__wrap
                            .connect-box__title.connect-box__title--green
                                .title-seventh.title-seventh--connect With connect
                            .connect-box__txt.connect-box__txt--second
                                .about-txt-box.
                                   With Connect, focus on your strategy: improving 
                                   user experience, expanding into new markets quickly, 
                                   and launching revenue-generating products.
                            .connect-box-table
                                ul.connect-box-table__wrap.connect-box-table__wrap--second
                                    li.connect-box-table__item
                                        .connect-box-table__label.connect-box-table__label--routing
                                            span.label.label--blue Connect
                                    li.connect-box-table__item
                                        .connect-box-table__label.connect-box-table__label--live
                                            span.label.label--green.label--green-big Live        