doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title ixLayer - Contact us
		include includes/_seo.html
		meta(property="og:title" content="ixLayer - Contact us")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="shortcut icon", href="img/icon-ixlayer.svg", type="mage/svg+xml")
		link(rel="stylesheet", href="libs/bootstrap/dist/css/bootstrap.min.css")
		link(href='style/common.css', rel='stylesheet')
		link(href='style/contactUs.css', rel='stylesheet')
		include includes/_google.html
		include includes/_favicon.html
	body
		include includes/_preloader
		include includes/pages/contactUs_page/_section-first
		include includes/pages/contactUs_page/_section-second
		include includes/pages/partials/_map
		include includes/_footer
		script(type='text/javascript' src='libs/jquery/dist/jquery.min.js')
		script(type="text/javascript" src="libs/bootstrap/dist/js/bootstrap.min.js")
		script(type='text/javascript' src='code/main.js')
		script(type='text/javascript' src='code/map.js')
		script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsyMNzd3MqENmrKaa6cOQe2_0r9Ci5uKE&callback=initMap")
