doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name="description", content="ixLayer")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="shortcut icon", href="img/icon-ixlayer.svg", type="mage/svg+xml")
		title ixLayer - ix360
		link(rel="stylesheet", href="libs/bootstrap/dist/css/bootstrap.min.css")
		link(href='style/common.css', rel='stylesheet')
		link(href='style/ix360.css', rel='stylesheet')
		include includes/_favicon.html
		include includes/_google.html
	body
		include includes/_preloader
		include includes/_variables
		include includes/pages/ix360_page/_section-first
		include includes/pages/ix360_page/_section-second
		include includes/pages/ix360_page/_section-third
		include includes/pages/ix360_page/_section-fourth
		include includes/_footer
		script(type='text/javascript' src='libs/jquery/dist/jquery.min.js')
		script(type="text/javascript" src="libs/bootstrap/dist/js/bootstrap.min.js")
		script(type='text/javascript' src='code/main.js')
		script(type='text/javascript' src='code/ix360.js')
