doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name="description", content="Portfolio Abrams")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Stripe
		link(rel="stylesheet", href="libs/bootstrap/dist/css/bootstrap.min.css")
		link(href='style/common.css', rel='stylesheet')
		link(href='style/signIn.css', rel='stylesheet')
	body
		include includes/_preloader
		include includes/pages/signIn_page/_section-first
		include includes/pages/signIn_page/_section-second
		include includes/_footer
		script(type='text/javascript' src='libs/jquery/dist/jquery.min.js')
		script(type="text/javascript" src="libs/bootstrap/dist/js/bootstrap.min.js")
		script(type='text/javascript' src='code/main.js')