@media (max-width: $breakpoint-tablet)
    .section-fourth
        .ix360-image
            width: 100%
            float: none
        .section-fourth__ix360-image
            padding-top: 20px
        .section-fourth__ix360-txt
            padding-top: 0
        .section-fourth__about-txt
            width: 100%
            padding-top: 50px

@media (max-width: $breakpoint-mobile)
    .section-fourth
        .section-fourth__ix360-description
            padding-top: 0
        .ix360-description__inner
            padding-top: 30px
        .ix360-order__item
            .txt-about
                padding: 0 0 0 17px


