@media (max-width: 992px) {
  .header .header-nav__link {
    padding-right: 20px; } }

.header {
  width: 100%;
  height: 100%;
  margin-top: 20px; }

.logo {
  width: 100%;
  height: 100%; }

.logo__header {
  width: 30px;
  height: 30px;
  display: inline-block;
  cursor: pointer; }
  .logo__header .header-logo {
    -webkit-transform: scale(0.4);
        -ms-transform: scale(0.4);
            transform: scale(0.4);
    top: -27px;
    right: 17px;
    opacity: 0.9; }

.logo__link {
  display: inline-block;
  height: 100%;
  width: 100%;
  position: relative; }

.logo__txt {
  display: inline-block;
  color: white;
  font-size: 22px;
  font-weight: 500;
  position: absolute;
  top: 2px;
  left: 33px; }

.mobile-button {
  height: 24px;
  width: 28px;
  position: absolute;
  right: 14px;
  top: 21px;
  z-index: 120;
  cursor: pointer;
  padding-top: 10px; }

.mobile-button__inner {
  position: relative;
  width: 24px;
  height: 3px;
  -webkit-border-radius: 1px;
          border-radius: 1px;
  background-color: #fff;
  z-index: 120; }
  .mobile-button__inner:before, .mobile-button__inner:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 3px;
    -webkit-border-radius: 1px;
            border-radius: 1px;
    background: #fff; }
  .mobile-button__inner:before {
    bottom: 8px; }
  .mobile-button__inner:after {
    top: 8px; }

.mobile-button.close .mobile-button__inner:before, .mobile-button.close .mobile-button__inner:after {
  background-color: black; }

.mobile-button.close .mobile-button__inner:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: -4px; }

.mobile-button.close .mobile-button__inner:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 4px; }

.mobile-menu {
  display: none;
  position: absolute;
  width: 95%;
  height: 50%;
  background: #fff;
  margin: 0 auto;
  left: 2%;
  z-index: 97;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0px 4px 13px -2px #888;
          box-shadow: 0px 4px 13px -2px #888; }
  .mobile-menu .header-nav__item {
    display: block; }
  .mobile-menu .header-nav__link {
    color: #888; }
    .mobile-menu .header-nav__link:hover {
      color: #8898AA;
      text-decoration: none; }
    .mobile-menu .header-nav__link:focus {
      outline: none;
      text-decoration: none; }

.auth-mobile {
  position: absolute;
  bottom: 7px;
  left: 7%;
  color: white;
  font-size: 18px; }

.auth-mobile__inner {
  color: #888; }

.header-nav {
  position: absolute;
  width: 100%;
  height: auto; }

.header-nav__wrap {
  list-style: none;
  width: 100%;
  height: 100%;
  position: relative;
  right: 10px; }

.header-nav__item {
  display: inline-block;
  padding-top: 4px;
  width: auto;
  height: auto;
  position: relative; }

.header-nav__link {
  color: #fff;
  font-size: 18px;
  padding-right: 37px;
  font-family: Quicksand;
  font-weight: 300;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
  height: 45px; }
  .header-nav__link:hover {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none; }

.auth {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 18px; }

.auth__inner {
  text-align: right;
  margin-right: 3px;
  padding-top: 4px;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease; }
  .auth__inner:hover {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none; }

.header-nav__menu {
  position: absolute;
  width: 400px;
  height: auto;
  background-color: #fff;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-transform: scaleX(0) scaleY(0.6) translate(0, 0);
      -ms-transform: scaleX(0) scaleY(0.6) translate(0, 0);
          transform: scaleX(0) scaleY(0.6) translate(0, 0);
  -webkit-transition: -webkit-transform 0.9s cubic-bezier(0, 0.6, 0.12, 1.07);
  transition: -webkit-transform 0.9s cubic-bezier(0, 0.6, 0.12, 1.07);
  transition: transform 0.9s cubic-bezier(0, 0.6, 0.12, 1.07);
  transition: transform 0.9s cubic-bezier(0, 0.6, 0.12, 1.07), -webkit-transform 0.9s cubic-bezier(0, 0.6, 0.12, 1.07);
  margin-left: -156px;
  top: 45px;
  -webkit-box-shadow: 0px 6px 39px -8px black;
          box-shadow: 0px 6px 39px -8px black;
  z-index: 1000; }
  .header-nav__menu::before {
    content: '';
    position: absolute;
    top: -7px;
    left: 48%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 7px 7px;
    border-color: transparent transparent #fff transparent; }

.menu {
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-in;
  transition: opacity 0.6s ease-in; }

.menu-content-bottom {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 20px;
  background-color: #E1F0FF;
  -webkit-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px; }

.menu-content-bottom__image {
  width: auto;
  height: auto;
  padding: 1px 10px 0px 0px; }

.menu__item {
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  height: auto;
  padding-top: 26px; }

.menu-link {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.menu__link {
  text-decoration: none; }
  .menu__link:hover, .menu__link:focus {
    color: initial;
    text-decoration: none; }
    .menu__link:hover .title-seventh, .menu__link:focus .title-seventh {
      color: #333F4C; }
    .menu__link:hover .txt-about-less, .menu__link:focus .txt-about-less {
      color: #333F4C; }

.menu-link__image {
  width: auto;
  height: auto;
  padding-right: 20px; }

.menu-txt__about-txt {
  width: 100%;
  height: 100%;
  padding-top: 5px; }

.menu__wrap {
  margin: 0;
  padding: 0 30px 30px 30px; }

@media (max-width: 992px) {
  .footer .container-space {
    padding-left: 15px; }
  .footer .company-wrap, .footer .resources-wrap {
    right: 0; }
  .footer .develop-wrap {
    margin-left: 0; }
  .footer .resources-wrap {
    padding: 0 11px; } }

@media (max-width: 767px) {
  .footer {
    padding-top: 50px; }
    .footer .col-xs-float {
      float: right; }
    .footer .resources-wrap {
      padding: 0; } }

@media (max-width: 564px) {
  .footer .button-footer .bt {
    min-width: 100%; } }

.footer {
  padding-top: 102px;
  padding-bottom: 125px;
  position: relative; }

.footer-background {
  position: static;
  width: 100%;
  height: 100%; }

.footer-link {
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0; }

.footer-link__item {
  padding: 6px 0; }

.footer-link__inner {
  font-size: 14px;
  font-weight: 500;
  color: #8898AA;
  -webkit-transition: color .1s ease;
  transition: color .1s ease; }
  .footer-link__inner:hover {
    color: #32325d;
    text-decoration: none; }

.txt-about-small-footer {
  font-size: 14px;
  font-weight: 300;
  color: #8898AA;
  max-width: 201px; }

.txt-about-small-footer__column-first {
  font-size: inherit;
  font-weight: inherit; }

.title-sixth__footer {
  font-weight: inherit;
  color: inherit;
  font-family: inherit; }

.develop-wrap {
  margin-left: 34px; }

.company-wrap {
  position: relative;
  right: 32px; }

.resources-wrap {
  position: relative;
  right: 30px; }

.footer-info {
  width: 100%;
  height: 100%;
  position: relative; }

.footer-info__txt {
  position: absolute;
  right: 8%;
  top: 24px;
  font-size: 14px;
  font-weight: 300;
  color: #8898AA; }

.stripe-section-logo {
  width: 100%;
  height: 100%; }

.stripe-section-logo__circle {
  position: relative;
  width: 66px;
  height: 66px;
  background-color: #D7F5FD;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: 0 auto; }

.stripe-section-logo__circle-inner {
  width: 36px;
  height: 36px;
  background-color: #69D5FB;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  position: relative;
  left: 15px;
  top: 15px; }
  .stripe-section-logo__circle-inner:before, .stripe-section-logo__circle-inner:after {
    content: '';
    position: absolute;
    width: 18.35px;
    height: 5.65px;
    background-color: #fff;
    right: 24%;
    -webkit-border-radius: 4px;
            border-radius: 4px; }
  .stripe-section-logo__circle-inner:before {
    top: 8px; }
  .stripe-section-logo__circle-inner:after {
    top: 20px; }

.stripe-section-logo__circle--big {
  width: 133.49px;
  height: 133.49px; }

.stripe-section-logo__circle-inner--big {
  width: 72.81px;
  height: 72.81px;
  top: 30px;
  left: 30px; }
  .stripe-section-logo__circle-inner--big:before, .stripe-section-logo__circle-inner--big:after {
    width: 37.11px;
    height: 11.42px; }
  .stripe-section-logo__circle-inner--big:before {
    top: 17px; }
  .stripe-section-logo__circle-inner--big:after {
    top: 43px; }

.header-logo {
  display: inline-block;
  position: relative;
  width: 63px;
  height: 82px; }

.header-logo.animation .rect-top {
  -webkit-animation: anim-rect-top 2s 1 forwards cubic-bezier(0, 0.63, 0.17, 1.16);
          animation: anim-rect-top 2s 1 forwards cubic-bezier(0, 0.63, 0.17, 1.16); }

.header-logo.animation .rect-middle-first {
  -webkit-animation: anim-rect-middle-first 2.3s 0.7s 1 forwards ease;
          animation: anim-rect-middle-first 2.3s 0.7s 1 forwards ease; }

.header-logo.animation .rect-middle-second {
  -webkit-animation: anim-rect-middle-second 2s 0.7s 1 forwards ease;
          animation: anim-rect-middle-second 2s 0.7s 1 forwards ease; }

.header-logo.animation .rect-bottom {
  -webkit-animation: anim-rect-bottom 1.4s 0.7s 1 forwards ease-in-out;
          animation: anim-rect-bottom 1.4s 0.7s 1 forwards ease-in-out; }

.rect {
  width: 50px;
  height: 50px;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  position: relative;
  left: 6px; }

.rect-top {
  -webkit-transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 50px) skewY(7deg) skewX(9deg);
          transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 50px) skewY(7deg) skewX(9deg);
  background-color: #88c5fc;
  opacity: 0;
  z-index: 10; }

.rect-middle-first {
  -webkit-transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 80px) skewY(7deg) skewX(9deg);
          transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 80px) skewY(7deg) skewX(9deg);
  background-color: #f9a18a;
  opacity: 0;
  z-index: 9; }

.rect-middle-second {
  -webkit-transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 120px) skewY(7deg) skewX(9deg);
          transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 120px) skewY(7deg) skewX(9deg);
  background-color: #f7e88b;
  opacity: 0;
  z-index: 8; }

.rect-bottom {
  -webkit-transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 150px) skewY(7deg) skewX(9deg);
          transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 150px) skewY(7deg) skewX(9deg);
  background-color: #BD7ABD;
  z-index: 7;
  opacity: 0; }

.rect-txt {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 4px;
  -webkit-transform: rotateZ(-91deg) skewX(-30deg);
      -ms-transform: rotate(-91deg) skewX(-30deg);
          transform: rotateZ(-91deg) skewX(-30deg);
  position: absolute;
  top: 6px;
  left: 42px; }

@-webkit-keyframes anim-rect-top {
  0% {
    -webkit-transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 300px) skewY(7deg) skewX(9deg);
            transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 300px) skewY(7deg) skewX(9deg);
    opacity: 0; }
  40% {
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 0px) skewY(7deg) skewX(9deg);
            transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 0px) skewY(7deg) skewX(9deg);
    opacity: 1; } }

@keyframes anim-rect-top {
  0% {
    -webkit-transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 300px) skewY(7deg) skewX(9deg);
            transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 300px) skewY(7deg) skewX(9deg);
    opacity: 0; }
  40% {
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 0px) skewY(7deg) skewX(9deg);
            transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 0px) skewY(7deg) skewX(9deg);
    opacity: 1; } }

@-webkit-keyframes anim-rect-middle-first {
  0% {
    -webkit-transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 54px) skewY(7deg) skewX(9deg);
            transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 54px) skewY(7deg) skewX(9deg);
    opacity: 0; }
  20% {
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 40px) skewY(7deg) skewX(9deg);
            transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 40px) skewY(7deg) skewX(9deg);
    opacity: 1; } }

@keyframes anim-rect-middle-first {
  0% {
    -webkit-transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 54px) skewY(7deg) skewX(9deg);
            transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 54px) skewY(7deg) skewX(9deg);
    opacity: 0; }
  20% {
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 40px) skewY(7deg) skewX(9deg);
            transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 40px) skewY(7deg) skewX(9deg);
    opacity: 1; } }

@-webkit-keyframes anim-rect-middle-second {
  0% {
    -webkit-transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 109px) skewY(7deg) skewX(9deg);
            transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 109px) skewY(7deg) skewX(9deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 84px) skewY(7deg) skewX(9deg);
            transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 84px) skewY(7deg) skewX(9deg);
    opacity: 1; } }

@keyframes anim-rect-middle-second {
  0% {
    -webkit-transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 109px) skewY(7deg) skewX(9deg);
            transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 109px) skewY(7deg) skewX(9deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 84px) skewY(7deg) skewX(9deg);
            transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 84px) skewY(7deg) skewX(9deg);
    opacity: 1; } }

@-webkit-keyframes anim-rect-bottom {
  0% {
    -webkit-transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 163px) skewY(7deg) skewX(9deg);
            transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 163px) skewY(7deg) skewX(9deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 120px) skewY(7deg) skewX(9deg);
            transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 120px) skewY(7deg) skewX(9deg);
    opacity: 1; } }

@keyframes anim-rect-bottom {
  0% {
    -webkit-transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 163px) skewY(7deg) skewX(9deg);
            transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 163px) skewY(7deg) skewX(9deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 120px) skewY(7deg) skewX(9deg);
            transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 120px) skewY(7deg) skewX(9deg);
    opacity: 1; } }

@media (max-width: 1710px) {
  body .head-infrastructure-image__inner {
    width: -webkit-calc(50vw - 213px);
    width: calc(50vw - 213px); } }

@media (max-width: 992px) {
  body .image-dna {
    margin: 0 auto; }
  body .section-third-infrastructure {
    padding-top: 50px; }
  body .section-third-infrastructure__background {
    bottom: -2%; }
  body .section-second-infrasturcture-dna-image--border:after {
    display: none; }
  body .title__head {
    margin: 50px 0 0 0; } }

@media (max-width: 767px) {
  body .head-infrastructure__background {
    bottom: 114px; }
  body .section-third-infrasturcture__description {
    padding-top: 50px; }
  body .section-third-infrasturcture-includes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    position: relative; }
  body .section-third-infrasturcture-includes__image {
    padding-top: 60px;
    margin: 0 auto; }
  body .section-third-infrasturcture__txt-title {
    padding-top: 50px; }
  body .title-border {
    width: 90%; }
  body .title-fourth__infrasturcture-description {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0; }
  body .title__head {
    margin: 20px 0 0 0; } }

.section-infrastructure-wrap {
  width: 100%;
  height: 100%;
  max-width: 1030px;
  margin: 0 auto; }

.head-infrastructure {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 15%; }

.head-infrastructure__background {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 20%; }

.head-infrastructure-image {
  width: 100%;
  height: 100%;
  position: relative; }

.head-infrastructure-image__inner {
  position: relative;
  width: 659px;
  height: 377px;
  background-color: #8898AA;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  top: 527px; }

.title-about__head {
  font-size: inherit;
  font-weight: inherit;
  margin-top: 52px; }

.title__head {
  font-size: inherit;
  font-weight: inherit;
  margin: 214px 0 0 0;
  padding: 0; }

.title-infrastructure-buttons__inner {
  width: 100%;
  height: 100%;
  margin: 44px 0 0 0; }

.title-buttons__inner {
  width: 100%;
  height: 100%;
  margin: 30px 0 0 0; }

.about-txt__dna {
  text-align: left;
  padding-top: 52px; }

.about-txt-fourth__infrastructure-about {
  font-size: inherit;
  font-weight: inherit;
  padding-top: 14px; }

.image-dna {
  width: 100%;
  max-width: 480px;
  height: 609px;
  background-color: #8898AA;
  -webkit-border-radius: 6px;
          border-radius: 6px; }

.image-header-infrastructure {
  width: 100%;
  height: 100%; }

.image-header-infrasturcture__inner {
  width: 100%;
  max-width: 1000px;
  height: 339px;
  background-color: #8898AA;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  margin: 21px auto 0; }

.infrastructure-about {
  width: 100%;
  height: 100%;
  padding-top: 70px; }

.infrastructure-about__image {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center; }

.section-second-infrastructure {
  width: 100%;
  height: 100%;
  position: relative; }

.section-infrastructure-wrap__about {
  padding-top: 30px; }

.section-infrastructure-wrap__dna {
  width: 100%;
  height: 100%;
  padding-top: 120px; }

.section-second-infrasturcture-dna-image {
  margin-top: 58px;
  position: relative;
  width: 100%;
  height: 100%; }

.section-second-infrasturcture-dna-image--border:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 104%;
  background-color: #888;
  top: 0;
  right: -13px; }

.section-second-infrasturcture-dna-image__inner {
  width: 100%;
  height: 100%;
  margin-top: 21px; }

.section-second-infrastructure-title-head {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.section-second-infrastructure-title-head__image {
  display: inline-block;
  width: auto; }

.section-second-infrastructure-title-head__txt {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-left: 3%; }

.section-second-infrastructure-title__wrap {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin: 147px auto 0; }

.title-third__infrastructure-about {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding-top: 48px; }

.title-about__section-second-infrastructure {
  margin-top: 43px; }

.title-about__section-second-infrastructure-header {
  width: 100%;
  max-width: 652px;
  height: 100%;
  text-align: center;
  margin: 0 auto; }

.title-fourth__image-title {
  text-align: center; }

.infrasturcture-description-item {
  width: 100%;
  height: 100%;
  color: #fff;
  padding-top: 50px; }

.infrasturcture-description-item__inner {
  font-family: Quicksand, sasn-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 38px;
  color: #fff; }

.section-third-infrastructure {
  height: 100%;
  width: 100%;
  position: relative;
  margin-top: 118px;
  padding-top: 165px;
  padding-bottom: 100px; }

.section-third-infrastructure__background {
  width: 100%;
  height: 102%;
  position: absolute;
  bottom: -3%; }

.section-third-infrasturcture__description {
  width: 100%;
  height: 100%;
  padding-top: 109px; }

.section-third-infrasturcture-includes {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.section-third-infrasturcture-includes__description {
  width: 100%;
  height: auto; }

.section-third-infrasturcture-includes__image {
  width: 60%;
  height: auto;
  padding-top: 63px; }

.section-third-infrastructure__launch-buttons {
  width: 100%;
  height: 100%;
  padding-top: 124px; }

.section-third-infrastructure__title {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 65px; }

.section-third-infrasturcture__txt-title {
  width: 100%;
  height: 100%;
  padding-top: 164px; }

.footer {
  z-index: 1000;
  position: relative;
  background-color: #fff; }
