/*==========  Desktop First Method  ==========*/
@media (max-width: 1326px) {
  .head .head-image__first {
    width: 24.6%; }
  .head .head-image__second {
    width: 20%;
    right: 1%;
    top: 41.1%; } }

@media (max-width: 1199px) {
  .section-second .image-middle__inner {
    margin-left: 0; }
  .section-second .container-space {
    padding-left: 26px; }
  .section-fourth .buttons {
    position: relative; }
  .section-fifth .buttons {
    position: relative; }
  .section-fifth .tab__txt {
    padding-bottom: 60px; } }

@media (max-width: 992px) {
  .header .header-nav__link {
    padding-right: 20px; }
  .head .header-content {
    margin-top: 69px; }
  .head .head-image__first {
    top: 29%; }
  .head .head-image__second {
    top: 26.1%; }
  .section-second .txt-about__compress {
    right: 0; }
  .section-second .image-middle__inner {
    margin-left: 0; }
  .section-second .section-second__inner {
    padding-left: 0; }
  .section-second .txt-about-second__space-right {
    padding-right: 0; }
  .section-second .image-middle {
    padding: 0 30px; }
  .section-second .image-middle__inner {
    width: 100%;
    margin: 0 auto; }
  .section-fourth {
    padding-top: 60px !important;
    padding-bottom: 0px !important; }
    .section-fourth .title-border--fourth, .section-fourth .about-txt__center {
      right: 0; }
    .section-fourth .tab__inner {
      -webkit-flex-flow: wrap;
          -ms-flex-flow: wrap;
              flex-flow: wrap;
      margin-top: 30px;
      padding-bottom: 100px; }
    .section-fourth .tabs {
      margin-top: 60px; }
    .section-fourth .about-txt__center {
      padding-top: 60px; }
    .section-fourth .tab__txt {
      padding-left: 0;
      padding-top: 30px;
      width: 100%; }
    .section-fourth .title-fourth__tabs {
      text-align: center; }
    .section-fourth .buttons {
      text-align: center; }
    .section-fourth .stripe-section-logo__circle--fourth {
      left: -webkit-calc(59vw - 97px);
      left: calc(59vw - 97px);
      bottom: -webkit-calc(6vw - 75px);
      bottom: calc(6vw - 75px); }
  .section-fifth .title-border.title-boder--fifth {
    margin-top: 83px; }
  .section-fifth .tab__inner {
    -webkit-flex-flow: wrap;
        -ms-flex-flow: wrap;
            flex-flow: wrap;
    margin-top: 30px;
    padding-bottom: 60px; }
  .section-fifth .tab__txt {
    padding-left: 0;
    padding-top: 30px;
    width: 100%; }
  .section-fifth .title-fourth__tabs {
    text-align: center; }
  .section-fifth .buttons {
    text-align: center; }
  .section-fifth .about-txt__center {
    right: 0;
    padding-top: 60px; }
  .section-fifth .tabs--fifth {
    margin-top: 60px; }
  .footer .container-space {
    padding-left: 15px; }
  .footer .company-wrap, .footer .resources-wrap {
    right: 0; }
  .footer .develop-wrap {
    margin-left: 0; }
  body .section-fifth .tab__inner {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
    -webkit-flex-direction: column-reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important; } }

@media (max-width: 767px) {
  .head .header-content {
    margin-top: 49px; }
  .section-second .txt-about-small__section-second {
    max-width: 100%; }
  .section-second .logo__inner {
    margin: 0 auto; }
  .section-second .title-fourth__section-second {
    text-align: center; }
  .footer .col-xs-float {
    float: right; }
  body .title {
    font-size: 32px; }
  body .title-second {
    font-size: 26px; }
  body .txt-about-second {
    font-size: 18px;
    line-height: 32px; }
  body .txt-about {
    font-size: 18px; }
  body .title-border {
    font-size: 20px;
    padding-top: 24px;
    height: 81px; }
  body .about-txt {
    font-size: 18px; }
  body .header-content-bottom {
    padding-left: 0; }
  body .txt-about-second__space-right {
    text-align: center; }
  body .txt-about-small__section-second {
    margin-top: 0; }
  body .section-second .secion-second-text-item {
    margin-top: 0px; }
  body .section-second .logo__inner {
    margin: 25px auto 0; }
  body .title-fourth__section-second {
    margin-top: 12px; }
  body .image-middle__third {
    -webkit-border-radius: 6px;
            border-radius: 6px;
    margin-top: 25px;
    -webkit-box-shadow: 0 8px 10px 0px #888;
            box-shadow: 0 8px 10px 0px #888;
    margin-bottom: 15px; }
  body .section-fifth .tab__inner {
    margin-top: 15px;
    padding-bottom: 0; }
  body .about-txt__inner {
    padding-top: 12px; }
  body .container--section-fifth {
    padding-bottom: 25px; }
  body footer.footer {
    padding-top: 50px; }
  body .section-fourth .tab__inner {
    margin-top: 15px; }
  body .head .header-content {
    padding-left: 0; }
  body button.bt {
    width: 50%;
    min-width: 165px;
    margin: 10px auto;
    padding: 14px 1%;
    max-width: 165px; }
  body .row-third__image {
    margin-top: 0; }
  body .section-fifth .tab__inner {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
    -webkit-flex-direction: column-reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important; }
  body .col-not-padding {
    padding: 0; }
  body .nav-item {
    padding: 0 10px; }
    body .nav-item .nav-link {
      font-size: 12px;
      width: 100%;
      margin: 10px auto; } }

@media (max-width: 564px) {
  .header-content-bottom .image-small {
    width: 100%; }
  .header-content-bottom .header-content-price-txt {
    width: 100%;
    padding-left: 0; }
  .header-content-bottom .title-fourth__inner {
    text-align: center; }
  .header-content-bottom .carousel-indicators {
    top: 108%;
    width: 100%;
    left: 0;
    margin: 0 auto; }
  .section-second .section-second__inner {
    margin-top: 174px; }
  .section-second .section-second-background {
    position: absolute;
    top: -2%; }
  .section-second .secion-second-text-item {
    margin-top: 46px;
    right: 0; }
  .footer .button-footer .bt {
    min-width: 100%; } }
