section.head
    .head__background
        .main-background
    .container.container-lg
        .row
            include ../../_nav
        .row
            .head-content
                .col-lg-8.col-md-8.col-sm-8.col-xs-12
                    .title
                        h1.title__head Launching a genetic product
                    .title-about
                        p.title-about__head.
                            Launching a genetic product is an expensive, 
                            complicated time consuming effort. There are several 
                            layers and steps required to launch and for operation