section.head-infrastructure
    .head-infrastructure__background
        .main-background.main-background--grey
    .container.container-lg
        .row
            include ../../_nav
        .row
            .head-content-infrastructure
                .col-lg-8.col-md-8.col-sm-8.col-xs-12
                    .title
                        h1.title__head Infrastructure for a genetic product is a difficult endeavor
                    .title-about
                        p.title-about__head.
                            Architecting, developing and operating a genetic infrastructure
                            is a difficult endeavor. It’s a resource heavy project 
                            that can take over 7-8 months.
                        p.title-about__head.
                            There are multiple integration points with different 
                            service and data routing between these services controlled 
                            by a business logic which is in charge of handling 
                            sensitive genetic userdata.
                    .title-infrastructure-buttons
                        .title-infrastructure-buttons__inner
                            .title-about
                                .title-about__infrastructure-buttons Launch your genetic product today
                            .title-buttons__inner
                                button.bt.purple Explore Solution
                                button.bt.grey Request a demo
                .col-lg-4.col-md-4.col-sm-4.hidden-xs
                    .head-infrastructure-image
                        .head-infrastructure-image__inner

