@media (max-width: $breakpoint-device-2)
    body
        .logo-header-about
            left: 170px
            .logo__header
                .header-logo
                        transform: scale(4)

@media (max-width: $breakpoint-tablet)
    body
        .about-txt__about-principles
            padding-top: 25px
        .about-txt__about-why
            padding-top: 25px
        .about-txt__section-second-about
            padding-top: 0

        .image-quote
            width: 120px
            height: 120px

        .logo-header-about
            top: 299px
            left: 100px

        .section-second-about-quote
            flex-flow: wrap
        .section-second-about-quote__txt
            height: fit-content
        .section-second-about-principles__inner
            padding-top: 50px

        .head-about__txt
            padding-top: 25px
        .title-second__section-third-about
            padding-top: 50px
        .head-about__title
            margin-top: 50px
        .txt-about__qoute-about
            width: 100%
            height: auto
            padding-top: 10px
        
        
        

@media (max-width: $breakpoint-mobile)
    body
        .image-quote
            width: 100px
            height: 100px

        .section-second-about-principles__column
            padding-top: 0

        .title-about__principles-column
            padding-top: 50px
       