@media (max-width: $breakpoint-device-2)
    body
        .logo-header-about
            left: 170px
            .logo__header
                .header-logo
                        transform: scale(4)

@media (max-width: $breakpoint-tablet)
    body
        .section-second-about-principles__title-txt
            padding-top: 25px
        .section-second-about-why__title-txt
            padding-top: 25px
        .about-txt__section-second-about
            padding-top: 0

        .image-quote
            width: 120px
            height: 120px

        .logo-header-about
            top: 240px
            left: 100px

        .section-second-about-quote
            flex-flow: wrap
        .section-second-about-quote__txt
            height: fit-content
        .section-second-about-principles__inner
            padding-top: 50px

        .head-about__txt
            width: 100%
            padding-top: 25px
        .head-about__title
            padding-top: 50px
        .section-third-about__title
            padding-top: 50px
        .section-second-about-txt__inner
            width: 100%
        
        
        
        

@media (max-width: $breakpoint-mobile)
    body
        .image-quote
            width: 100px
            height: 100px
            margin: 0 0 0 15px
        .section-second-about-quote__image
            width: 100%
        .section-second-about-quote
            width: 100%
        .section-second-about
            margin-top: 20px
        .section-second-about-principles__column
            padding-top: 0

        .title-about__principles-column
            padding-top: 50px
        .section-second-about-why__inner
            padding-top: 50px
        .section-second-about-why__title-txt, .section-second-about-principles__title-txt
            padding-top: 0
        .section-second-about-principles__boxes
            padding-top: 10px
        .principles-column__txt-about
            padding-top: 0
       