@media (max-width: $breakpoint-device-3)
    body
        .container-large--row-boxes
            padding: 0
        .container-space
            padding-left: 0

@media (max-width: $breakpoint-device)
    body
        .about-txt-image
            font-size: 9pt
        .row-image--second
            top: calc(20vw - 37px)
        .image-middle
            width: 100%

@media (max-width: $breakpoint-tablet)
    .col-not-padding
        padding: 0
    body
        .row-image__first
            width: 57%
        .row-image--first
            top: calc(7vw - 6px)
        .about-txt-image
            line-height: 14px
        .row-image--second
            top: calc(20vw - 27px)
        .row-image__second
            width: 65%
        .row-image__third
            width: 70%

@media (max-width: $breakpoint-mobile)
    .col-not-padding
        padding: 0
    .not-mobile
        display: none !important
    .only-mobile
        display: block !important
    //titles and txt
    body
        .icon-remove, .icon-ok
            transform: scale(0.7)
        .image-small
            max-width: 332px
            width: 100%

        h3, h2, h1
            text-align: center
        h4
            font-size: 10pt
        h3.title-align, h2.title-align, h1.title-align
            margin: 0
            padding: 0 12px

        .mobile-txt-left
            text-align: left !important
        .mobile-txt-right
            text-align: right !important
        p.txt-main-title, p.txt-about, p.txt-about-small
            font-size: 12pt
            line-height: 18pt
            padding: 12px
            text-align: center
            margin: 0
        p.txt-about--large-line-height
            line-height: 18pt
            font-weight: 500
        //nav item
        .nav-item
            padding: 0 10px
            .nav-link
                font-size: 12px
                width: 100%
                margin: 10px auto