@media (max-width: $breakpoint-device-3)
    body
        .container-large--row-boxes
            padding: 0

@media (max-width: $breakpoint-tablet)
    .col-not-padding
        padding: 0

@media (max-width: $breakpoint-mobile)
    .col-not-padding
        padding: 0
    //titles and txt
    body
        .image-small
            max-width: 332px
            width: 100%
        .title
            font-size: 32px
        .title-second
            font-size: 26px
        .txt-about-second
            font-size: 18px
            line-height: 32px
        .txt-about
            font-size: 18px
        .title-border
            font-size: 20px
            padding-top: 24px
            height: 81px
        .about-txt
            font-size: 18px
        //nav item
        .nav-item
            padding: 0 10px
            .nav-link
                font-size: 12px
                width: 100%
                margin: 10px auto