@media (max-width: $breakpoint-device-3)
    body
        .section-second-contacts-description-images__first
            left: 0
        .section-second-contacts-description-images__second
            left: 70%
            bottom: 57px
        .section-second-contacts-description-txt
            left: 0

@media (max-width: $breakpoint-device-2)
    body
        .section-second-contacts-description-images
            display: flex
            justify-content: space-between
        .section-second-contacts-description-images__first
            width: 100%
        .description-images-marker, .description-images-email
            width: 100%
            height: auto
        .section-second-contacts-description-images__second
            width: 100%
            height: 100%
            left: -7%
            bottom: 0
        .section-second-contacts-description-txt
            top: 224px

@media (max-width: $breakpoint-device)
    body
       .section-second-contacts-description-txt
            top: 184px 

@media (max-width: $breakpoint-tablet)
    body
        .section-second-contacts-description__wrap
            width: 100%
            height: 100%
            display: flex
            flex-flow: row-reverse
            justify-content: space-between

        .section-second-contacts-description-images
            width: 55%
            padding-top: 59px

        .section-second-contacts-description-txt
            top: 0
            width: 100%
            padding: 42px 0px 0px 7px
            margin: 0 auto

        .title__head
            padding-top: 69px

        .head-contact
            padding-bottom: 364px

@media (max-width: $breakpoint-mobile)
    body
        .section-second-description
            bottom: 194px
        .section-second-description__about
            padding-top: 22px
        .section-second-contacts-description-txt__about
            padding-top: 20px
        .section-second-description__wrap-second
            padding-left: 0
            position: relative
            top: 78px
        .secttion-second-contacts-form__wrap
            padding: 15px