/*==========  Desktop First Method  ==========*/
@import './imports/_variables'


@media (max-width: $breakpoint-device-2)
    .head
        .head-image__first
            width: 24.6%
        .head-image__second
            width: 20%
            right: 1%
            top: 41.1%


@media (max-width: $breakpoint-device)
    .section-second
        .image-middle__inner
            margin-left: 0
        .container-space
            padding-left: 26px
    .section-third
        .connect-box__txt--second
            padding: 52px 30px
    .section-fourth
        .buttons
            position: relative
    .section-fifth
        .buttons
            position: relative
        .tab__txt
            padding-bottom: 60px

@media (max-width: $breakpoint-tablet)
    //header
    .head
        .header-content
            margin-top: 69px
        .head-image__first
            top: 29%
        .head-image__second
            top: 26.1%

    .section-third
        .connect-box
            margin: 15px 0
        .connect-box-table
            border-radius: 0 0 4px 4px
    .section-second
        .txt-about__compress
            right: 0
        .image-middle__inner
            margin-left: 0
        .section-second__inner
            padding-left: 0
        .txt-about-second__space-right
            padding-right: 0
        .image-middle
            padding: 0 30px

        .image-middle__inner
            width: 100%
            margin: 0 auto

    .section-fourth
        padding-top: 60px !important
        padding-bottom: 0px !important
        .title-border--fourth, .about-txt__center
            right: 0
        .tab__inner
            flex-flow: wrap
            margin-top: 30px
            padding-bottom: 100px
        .tabs
            margin-top: 60px
        .about-txt__center
            padding-top: 60px
        .tab__txt
            padding-left: 0
            padding-top: 30px
            width: 100%
        .title-fourth__tabs
            text-align: center
        .buttons
            text-align: center
        .stripe-section-logo__circle--fourth
            left: calc(59vw - 97px) 
            bottom: calc(6vw - 75px)
    .section-fifth
        .title-border.title-boder--fifth
            margin-top: 83px
        .tab__inner
            flex-flow: wrap
            margin-top: 30px
            padding-bottom: 60px
        .tab__txt
            padding-left: 0
            padding-top: 30px
            width: 100%
        .title-fourth__tabs
            text-align: center
        .buttons
            text-align: center
        .about-txt__center
            right: 0
            padding-top: 60px
        .tabs--fifth 
            margin-top: 60px
    body
        .section-fifth
            .tab__inner
                flex-direction: column-reverse !important



@media (max-width: $breakpoint-mobile)
    .head
        .header-content
            margin-top: 49px
    .section-second
        .txt-about-small__section-second
            max-width: 100%
        .logo__inner
            margin: 0 auto
        .title-fourth__section-second
            text-align: center
    body
        .section-third
            .connect-box-table__label--international
                text-align: right
                padding-right: 3%
                margin-left: 0

        .header-content-bottom
            padding-left: 0
        .txt-about-second__space-right
            text-align: center
        .txt-about-small__section-second
            margin-top: 0
        .section-second .secion-second-text-item
            margin-top: 0px
        .section-second .logo__inner
            margin: 25px auto 0
        .title-fourth__section-second
            margin-top: 12px
        .image-middle__third 
            border-radius: 6px
            margin-top: 25px
            box-shadow: 0 8px 10px 0px $silver
            margin-bottom: 15px
        .section-fifth .tab__inner
            margin-top: 15px
            padding-bottom: 0
        .about-txt__inner
            padding-top: 12px
        .container--section-fifth
            padding-bottom: 25px
        .section-fourth .tab__inner
            margin-top: 15px
        .head .header-content
            padding-left: 0 
        .row-third__image
            margin-top: 0
        .section-fifth
            .tab__inner
                flex-direction: column-reverse !important

@media (max-width: $breakpoint-mobile-low)
    .header-content-bottom
        .image-small
            width: 100%
        .header-content-price-txt
            width: 100%
            padding-left: 0
        .title-fourth__inner
            text-align: center
        .carousel-indicators 
            top: 108%
            width: 100%
            left: 0
            margin: 0 auto
    .section-second
        .section-second__inner
            margin-top: 174px
        .section-second-background 
            position: absolute
            top: -2%
        .secion-second-text-item
            margin-top: 46px
            right: 0
  
        



            
