@import './imports/_variables'
@import './imports/_header-nav'
@import './imports/_footer'
@import './imports/_logo'
@import '_aboutUs-media'


html, body
    height: 100%
    
//section first
.head-about 
    position: relative
    width: 100%
    height: auto
    padding-bottom: 95px

.head-about__background
    width: 100%
    height: 130%
    position: absolute
    bottom: 0%

.logo-header-about
    width: 100%
    height: auto
    position: absolute
    top: 277px
    left: 281px
    .logo__header
        .header-logo
            transform: scale(5)
            .rect-top, .rect-middle-first, .rect-middle-second, .rect-bottom
                 animation: none
                 opacity: 1
            .rect-top
                transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 0px) skewY(7deg) skewX(9deg)
            .rect-middle-first
                transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 40px) skewY(7deg) skewX(9deg)
            .rect-middle-second
                transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 84px) skewY(7deg) skewX(9deg)
            .rect-bottom
                 transform: rotateX(67deg) rotateY(0deg) rotateZ(46deg) translate3d(0px, 0px, 120px) skewY(7deg) skewX(9deg)

.head-about__title
    padding-top: 150px

.head-about__txt
    width: 81%
    height: auto
    padding-top: 52px



//section second
.section-second-about-principles__title-txt
    padding-top: 52px

.principles-column__txt-about
    width: 100%
    height: auto
    padding-top: 29px

.about-txt__section-second-about
    font-size: inherit
    font-weight: inherit
    text-align: left
    padding-top: 60px

.section-second-about-why__title-txt
    padding-top: 52px

.image-quote
    width: 147px
    height: 115px
    background-repeat: no-repeat
    background-image: url(../img/quote-mark.png)
    background-size: contain

.section-second-about
    width: 100%
    height: auto
    position: relative
    margin-top: 98px

.section-second-about-principles__inner
    width: 100%
    height: auto
    padding-top: 120px

.section-second-about-principles__boxes
    width: 100%
    height: 100%
    padding-top: 50px
    display: flex
    flex-flow: wrap
    justify-content: space-around


.principles-boxes
    margin: 10px
    padding: 33px 24px
    background: $silver
    color: $white
    font-family: Qicksand, sans-serif
    width: 230px
    height: 85px
    font-size: 12pt
    font-weight: 500
    letter-spacing: 0.8pt
    border: 0
    border-radius: 4px
    text-align: center

.blue-dark
    background: $blue-light-dark

.puprle-blue
    background: $blue-purple

.purple-dark
    background: $purple-3

.pink
    background: $pink

.section-second-about-principles__column
    width: 100%
    height: auto
    padding-top: 77px

.section-second-about-quote
    width: 86%
    height: auto
    display: flex
    margin-top: 72px

.section-second-about-quote__image
    width: 45%
    height: auto

.section-second-about-quote__txt
    width: 100%
    height: auto

.section-second-about-txt__inner
    width: 86%
    height: auto

.section-second-about-txt__row
    height: auto
    width: 100%
    padding-top: 32px

.section-second-about-why__inner
    width: 100%
    height: auto
    padding-top: 97px

.section-second-about-principles__wrap
    width: 100%
    height: auto

//section-third
.about-txt__section-third-about
    width: 100%
    height: auto
    padding-top: 52px
    text-align: center
    max-width: 800px
    margin: 0 auto

.investor-box
    width: auto
    height: 100%
    margin: 54px auto 0

.investro-box__inner 
    width: 225px
    height: 85px
    background-color: $silver-2
    border-radius: 6px

.section-third-about
    width: 100%
    height: auto
    position: relative
    background-color: $white-grey-2
    margin-top: 91px
    padding-bottom: 132px

.section-third-about__boxes
    display: flex
    justify-content: space-around
    flex-wrap: wrap

.section-third-about__title
    padding-top: 132px
    text-align: center

.section-third-about__txt-main 
    text-align: center
    width: 70%
    height: auto
    margin: 0 auto
    padding-top: 52px

//section fourth
.about-txt__section-fourth-about
    width: 100%
    height: 100%
    padding-top: 72px
    max-width: 800px
    margin: 0 auto

.section-fourth-about__content 
    width: 100%
    height: 100%
    position: relative
    padding-top: 81px

.section-fourth-about__txt-main
    width: 65%
    text-align: center
    margin: 0 auto
    padding-top: 72px

.section-fourth-about__title
    text-align: center

.section-fourth-about__email-link
    width: 100%
    height: 100%
    text-align: center
    padding-top: 29px


//footer
.container-space
    margin-top: 220px

.footer 
    padding-top: 5px
    padding-bottom: 105px

.footer-background
    position: absolute
    overflow: hidden
    .footer-background__inner
        background: $white-2
        transform: skewY(-6deg)
        height: 173%
        width: 100%
        position: relative
        top: 105px