@import './imports/_fonts'
@import './imports/_variables'
@import './imports/_buttons'
@import './imports/_preloader'
@import '_common-media.sass'

html
    overflow-x: hidden
    position: relative

body
    font-family: Quicksand, sans-serif
    font-weight: 300
    overflow-x: hidden
    position: relative

.not-indent
    margin: 0 !important
    padding: 0 !important

.text-uppercase
    text-transform: uppercase

.text-bold
    font-weight: bold

.container-lg
    max-width: 1040px
    margin: 0 auto

.container-large
    display: table
    content: ''
    max-width: 1632px
    width: 100%
    height: 100%
    padding-left: 15px
    padding-right: 15px
    margin: 0 auto

.container-large--row-boxes
    width: 100%
    height: 100%
    padding: 0 123px
    
.container-large-second 
    max-width: 1707px
    padding-left: 15px
    padding-right: 15px
    margin: 0 auto

.container-space 
    padding-left: 82px

.form-control
    height: 43px
    width: 100%
    border: none
    box-shadow: none
    background-color: $white-3
    font-size: 15pt
    font-weight: 100
    font-style: italic
    color: $blue
    &::placeholder
        color: $blue

textarea.form-control
    resize: vertical

.form-validation-txt 
    font-size: 16px
    font-weight: 300
    color: $silver-2
    text-decoration: none
    &:hover, &:focus
        color: $silver-2
        text-decoration: none

.icon-ok
    width: 42px
    height: 42px
    position: relative
    display: inline-block
    &:before, &:after
        content: ''
        background-color: $green-2
        position: absolute
        width: 3px
        opacity: 0
        animation: anim-opacity 2s 1 forwards cubic-bezier(0.68, 1.38, 0.06,-0.21)
    &:before
        height: 19px
        left: 4px
        transform: rotate(-45deg)
        top: 13px
    &:after
        height: 42px
        left: 25px
        top: -6px
        transform: rotate(45deg)

.icon-remove
    width: 42px
    height: 42px
    position: relative
    display: inline-block
    &:before, &:after
        content: ''
        background-color: $red
        position: absolute
        width: 3px
        height: 42px
        left: 18px
    &:before
        transform: rotate(45deg)
    &:after
        transform: rotate(-45deg)

.image-circle
    display: inline-block
    width: 50px
    height: 50px
    background-color: $silver-2
    border-radius: 50%

.image-circle-small
    display: inline-block
    width: 30px
    height: 30px
    background-color: $silver-2
    border-radius: 50%

.image-full
    width: 100%
    max-width: 972px
    height: 339px
    background: $silver-2
    border-radius: 6px
    display: inline-block

.image-least 
    width: 64px
    height: 64px
    display: inline-block
    background-color: $silver-2
    border-radius: 6px

.image-less 
    width: 20px
    height: 20px
    background-color: $silver-2
    border-radius: 3px

.image-middle
    width: 94%
    height: 477px
    border-radius: 6px
    background-color: $silver-2
    
.image-small
    position: relative
    background-color: $silver-2
    width: 332px
    height: 209px
    border-radius: 6px

.label
    border-radius: 20px
    font-weight: 600
    font-size: 10pt
    color: $white
    text-transform: uppercase

.label--blue
    background-color: $blue-light-5

.label--purple
    background-color: $purple-6

.label--pink
    background-color: $pink-3

.label--orange
    background-color: $orange

.label--red
    background-color: $red-2

.label--green
    background-color: $green-3

.label--green-big
    padding-left: 37%
    padding-right: 37%
    display: inline-block

.label-input
    font-size: 13pt
    font-weight: 500
    font-family: Quicksand, sans-serif
    color: $blue-dark
    padding-top: 13px

.main-background
    width: 100%
    height: 100%
    background: $background-blue
    transform: skewY(-6deg)

.main-background--grey
    background: $background-grey

.main-background--grey-second
    background: $background-grey-2

.main-background--light-blue
    background: $background-blue-light

#map
    width: 100%
    height: 806px

.nav-tabs 
    border-bottom: none
    display: flex
    width: 100%
    flex-wrap: wrap
    justify-content: center

.nav-item.active
    .nav-link
        background-color: $white
        color: $blue-3

.nav-item .nav-link
    color: $white
    text-decoration: none
    text-align: center
    font-size: 12pt
    font-weight: 600
    border: 1px solid $white
    border-radius: 21px
    padding: 9px 31px
    margin: 0px 11px 28px 13px
    text-transform: uppercase
    transition: background-color 1s linear
    display: inline-block
    width: auto
    &:focus, &:hover
        background-color: $white
        color: $blue-3
        text-decoration: none

.read-more
    font-family: Quicksand, sans-serif
    font-size: 12pt
    text-decoration: underline
    cursor: pointer
    color: $blue-dark

.table-row-icon 
    width: 100%
    height: 100%
    position: relative
            

.table-striped>tbody>tr:nth-of-type(odd) 
    background-color: $white

.table-striped>tbody>tr:nth-of-type(even) 
    background-color: $white-grey

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, 
.table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th
    border: none
    padding: 0
    margin: 0

.tabs
    width: 100%
    height: 100%
    margin-top: 100px

.title-wrap-back
    position: relative
    height: 85px
    width: 100%
    border-radius: 6px 6px 0px 0px
    background-color: $silver
    top: -5px

.title-wrap-back--blue-light
    background-color: $blue-light-dark

.title-wrap-back--blue-purple
    background-color: $blue-purple

.title-wrap-back--purple
    background-color: $purple-3

.title-wrap-back--pink
    background-color: $pink

.table
    tbody
        box-shadow: 0px 8px 14px 0px rgba(0,0,0, 0.5)
        border-radius: 11px 11px 11px 11px
    tbody tr:first-child td:first-child
        border-radius: 6px 0 0 0
    tbody tr:first-child td:last-child
        border-radius: 0 6px 0 0
    tbody tr:last-child td:first-child
        border-radius: 0 0 0 6px
    tbody tr:last-child td:last-child
        border-radius: 0 0 6px 0



//style for text
//txt for link
.email-link 
    color: $purple
    font-size: 14pt
    font-weight: 300

.email-link-lg
    color: $blue
    font-size: 15pt
    font-weight: 300
    text-decoration: none
    &:hover, &:focus
        text-decoration: none
        color: $blue
//title
h1
    width: 100%
    height: 100%
    font-family: Quicksand, sans-serif
    font-size: 28pt
    font-weight: 300
    line-height: 44px
    color: $white

.title--blue-dark
    color: $blue-dark
.title--blue
    color: $blue

h2
    font-size: 22pt
    font-family: Quicksand, sans-serif
    color: $white
    font-weight: 300
    line-height: 28px

.title-second--blue
    color: $blue

.title-second--blue-dark
    color: $blue-dark

.title-second--medium
    font-weight: 500

h3
    font-size: 15pt
    font-weight: 500
    color: $white
    font-family: Quicksand

h3.title-third--blue
    color: $blue

h3.title-third--blue-dark
    color: $blue-dark

h3.title-third--regular
    font-weight: 300

.title-border
    font-family: Quicksand, sans-serif
    color: $white
    border: 1px solid $white
    max-width: 400px
    height: 80px
    width: 100%
    text-align: center
    margin: 0 auto
    font-size: 16pt
    padding-top: 25px
    text-transform: uppercase
    font-weight: 500

.title-border--unset
    text-transform: unset
    max-width: 365px
    height: 92px

h4
    font-family: Quicksand, sans-serif
    font-size: 14pt
    font-weight: 300
    color: $white
h6
    font-family: Quicksand, sans-serif
    font-size: 10pt
    font-weight: 600
    color: $white

.title-sixth--uppercase
    text-transform: uppercase

.title-sixth--blue
    color: $blue

.title-sixth--blue-dark
    color: $blue-dark

//paragraph
p.color-blue-dark
    color: $blue-dark

.txt-main-title
    font-family: Quicksand, sans-serif
    font-size: 14pt
    font-weight: 300
    line-height: 26px
    color: $white
    width: 100%
    height: auto
    margin: 0 auto
    
p.txt-main-title--blue-dark
    color: $blue-dark

.txt-about
    font-family: Quicksand, sans-serif
    font-size: 15pt
    font-weight: 300
    line-height: 26px
    color: $white
    width: 100%
    height: auto
    margin: 0 auto

p.txt-about--blue
    color: $blue

p.txt-about--purple-2
    color: $purple-2 

p.txt-about--large-line-height
    line-height: 44px
    margin-top: -8px

p.txt-about--middle-line-height
    line-height: 38px
    
.txt-about-small
    font-family: Quicksand, sans-serif
    font-size: 12pt
    margin: 22px 0
    color: $white

p.txt-about-small--purple-2
    color: $purple-2

.txt-about-least
    font-family: Quicksand, sans-serif
    font-size: 10pt
    color: $white

p.txt-about-least--silver-2
    color: $silver-2

.about-txt-image
    font-family: Quicksand, sans-serif
    font-size: 12pt
    font-weight: 300
    line-height: 19px
    color: $white

.txt-about-less
    font-size: 12pt
    line-height: 22px
    color: $blue-dark
//keyframes animation

@keyframes anim-opacity
    from
        opacity: 0
    to
        opacity: 1




