@import './imports/_variables'
@import './imports/_header-nav'
@import './imports/_footer'
@import './imports/_logo'
@import '_ix360-media'


//head section
.boxes-items
    width: 100%
    height: 100%
    list-style-type: decimal
    margin-top: 19px
    padding: 0px 0px 0px 39px
    font-family: Quicksand
    font-size: 18px

.boxes-items__txt
    padding-bottom: 10px

.container-large__boxes
    position: relative
    top: 107px

.head
    width: 100%
    height: 100%
    position: relative

.head__background
    width: 100%
    height: 100%
    position: absolute
    bottom: 10%
    
.head-content
    width: 100%
    height: 100%
    margin-top: 179px
    margin-left: 6px

.head-content-bottom
    width: 100%
    height: 100%
    margin-top: 112px

.head-content-bottom__txt
    padding-top: 22px

.head-content-boxes
    width: 100%
    max-width: 304px
    height: 471px
    background-color: $white
    border-radius: 83px 83px 6px 6px
    box-shadow: 0px 7px 20px -4px $silver
    transition: all 0.3s ease
    cursor: default
    z-index: 1000
    &:hover
        transform: scale(1.04)
        box-shadow: 0px 15px 20px -4px $silver

.head-description 
    list-style: none
    padding: 0
    margin: 0


.head-description-image
    width: 18%
    min-width: 50px
    height: 100%
    padding: 0
    margin: 0

.head-description-image__inner
    width: 50px
    height: 50px
    background-color: $silver-2
    margin-left: 36%
    margin-top: 2px
    border-radius: 6px

.head-description__item:first-child
     margin-top: 80px

.head-description__item
    display: flex
    margin-top: 80px
    margin-left: -7px

.head-image
    width: 100%
    height: 100%

.head-image__inner
    background-image: url('../img/ix360/ix360_head_image.png')
    background-repeat: no-repeat
    height: calc(30vw + 442px)
    width: 30vw
    background-size: contain
    position: relative
    margin-top: 25px
    margin-left: 50px

.head-description__txt
    max-width: 488px

.head__txt-main
    padding-top: 32px

.row-image
    position: absolute
    width: 100%
    height: auto
    display: flex
    justify-content: center

.row-image--first
    top: calc(7vw - 20px)

.row-image__first
    height: auto
    width: 48%
    text-align: center

.row-image--second
    top: calc(20vw - 39px)

.row-image__second 
    width: 54%
    height: auto
    text-align: center

.row-image--third 
    top: 30vw

.row-image__third
    width: 50%
    height: auto
    text-align: center

.row-image--fourth
    top: 43vw

.row-image__fourth
    width: 100%
    height: auto
    text-align: center

.row-image--fifth
    top: 54vw

.row-image__fifth
    width: 90%
    height: auto
    text-align: center

.title-about__head 
    font-size: inherit
    font-weight: inherit
    margin-top: 37px

.txt-about__head-botom
    font-size: inherit
    font-weight: inherit
    margin-left: 20px
    margin-top: 18px

.txt-about-small__head-description 
    font-size: inherit
    font-weight: inherit
    margin: 10px 0 0 0
    padding: 0
    
.title-fifth__head-boxes
    font-size: inherit
    font-weight: inherit
    text-align: center
    height: 100%
    margin: 0
    display: flex
    justify-content: center
    align-items: center

.title-fourth__head-description
    font-size: inherit
    margin: 0
    padding: 0

.title-wrap-back__inner
    text-align: center
    padding-top: 8%

//section-second
.section-second 
    width: 100%
    height: 100%
    position: relative

.section-second-header__about
    padding-right: 260px
    padding-top: 9px

.section-second-header__logo
    width: 19%
    height: auto
    padding-top: 9px

.section-second-header__txt
    width: auto
    height: auto
    padding-left: 8px

.section-second-header__txt-title
    width: 76%
    height: auto
    padding-top: 22px

.section-second-header__wrap 
    display: flex
    justify-content: space-between
    width: 100%
    height: 100%
    padding-left: 71px
    padding-top: 8px

.section-second-image
    width: 100%
    height: 100%

.section-second-image__wrap
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    padding-top: 107px

.section-second__inner
    width: 100%
    height: 100%
    margin-top: 240px


//section third
.about-txt__buttons-title
    font-size: inherit
    font-weight: inherit
    text-align: left

.about-txt__section-third
    font-size: inherit
    font-weight: inherit
    color: inherit
    padding-top: 110px
    width: 73%
    margin: 0 auto
    text-align: left

.about-txt__section-third-description
    text-align: left
    font-size: inherit
    font-weight: inherit

.image-head
    width: 250px
    height: 500px
    background-color: $silver-2
    border-radius: 2px
    box-shadow: 0px 12px 24px -5px rgba(0, 0, 0, 0.5)
    position: relative

.image-head--first
    left: 160px

.image-head--second
    top: -13px
    left: 57px

.image-head--third
    top: -24px
    right: 50px

.image-head--fourth
    right: 158px
    top: -29px

.image-small__inner
    width: 100%
    height: auto
    position: absolute
    bottom: -60px

.section-third
    width: 100%
    height: 100%
    position: relative
    margin-top: 150px
    padding-bottom: 651px

.section-third__background
    width: 100%
    height: 100%
    position: absolute
    top: 104px

.section-third-description
    width: 100%
    height: 100%
    position: relative

.section-third-description__buttons-inner
    width: 100%
    height: 100%
    padding-top: 13px

.section-third-description__butons-title
    padding-top: 132px
    width: 100%
    height: 100%

.section-third-description__content
    width: 100%
    height: 100%
    display: flex
    padding-top: 35px

.section-third-description__content-image
    width: 36%
    height: auto
    min-width: 332px
    padding-top: 12px
    
.section-third-description__content-txt
    width: 64%
    height: auto
    padding-right: 51px

.section-third-description__wrap
    width: 100%
    height: 100%
    padding-left: 69px

.section-third-description__inner
    width: 100%
    height: 100%
    padding-top: 100px
    

.section-third-description__inner:nth-child(odd)
    .section-third-description__title
        text-align: center
    .section-third-description__content-txt
        padding-left: 60px
        padding-right: 50px

.section-third-description__inner:nth-child(even)
    .section-third-description__content
        flex-flow: row-reverse

.section-third-images__wrap
    width: 100%
    height: auto
    margin: 0 auto
    text-align: center

.section-third-title__inner
    padding-top: 100px

.section-third-title__txt
    width: 69%
    margin: 0 auto
    padding-top: 100px
    position: relative
    right: 24px
    text-align: left

.title-fourth__section-third-description
    font-size: inherit
    font-weight: inherit
    color: inherit



//section fourth
.section-fourth
    z-index: 10
    position: relative
    bottom: 525px

.section-fourth-header__head
    max-width: 748px
    margin: 0 auto
    padding-top: 21px

.section-fourth-header__title
    text-align: center


.section-fourth-header__txt-about
    width: 90%
    text-align: center
    margin: 0 auto
    padding-top: 22px

.section-fourth-table
    width: 100%
    height: 100%
    margin: 0 auto

.section-fourth-table__inner
    width: 106%
    height: 100%
    margin: 0 auto
    position: relative
    right: 3%
    padding-top: 145px

.section-fourth-table__tbody
    width: 100%
    height: 100%
    background-color: $white
    position: relative
    &:before
        content: ''
        position: absolute
        height: 80%
        width: 100%
        background-color: $white
        z-index: -1
        border-radius: 6px


.table-buttons__inner
    padding-top: 14px

.table-launch-buttons
    width: 100%
    height: 100%
    position: relative

.table-launch-buttons__inner
    display: inline-block
    float: right
    padding-top: 49px

.table-row-icon__inner
    width: 100%
    height: auto
    text-align: center
    padding-top: 52px

.table-row-txt__inner 
    max-width: 716px
    height: auto
    padding-left: 39px
    padding-right: 28px
    padding-bottom: 18px

.table__head
    width: 100%
    height: 100%
    text-align: center
    padding-bottom: 45px


//customizing footer
.footer
    background-color: $white-2
    padding-top: 102px
    padding-bottom: 157px
    position: absolute
    margin: 0 auto
    width: 100%
    bottom: 0






