@import '_fonts'
@import '_variables'
@import '_buttons'

body 
    font-family: Quicksand, sans-serif

.container-lg
    max-width: 1040px
    margin: 0 auto

.head
    width: 100%
    height: 100%
    position: relative
    
.head-background
    background-image: url('../img/Bg-01.jpg')
    position: absolute
    width: 100%
    height: 110%
    background-size: 100% 100%
    transform: skewY(-6deg)
    top: -19%
//header
.header 
    width: 100%
    height: 100%
    margin-top: 20px

.logo__inner 
    width: 107px
    height: auto

.header-nav__wrap
    list-style: none
    width: 100%
    height: 100%
    position: relative
    right: 10px

.header-nav__item 
    display: inline-block
    font-family: Quicksand

.header-nav__link 
    color: $white
    font-size: 18px
    padding-right: 37px
    font-family: Quicksand
    font-weight: 300 

.header-auth 
    width: 100%
    height: 100%

.header-auth__inner
    color: $white
    font-size: 18px
    font-family: Quicksand
    font-weight: 300 
    text-align: right
    margin-right: 3px

//section header
.header-content 
    width: 100%
    height: 100%
    margin-top: 152px
    padding-left: 30px

.header-content-title
    width: 100%
    height: 100%

.header-content-title__head
    color: $white
    font-size: 41px
    width: 95%

.header-content-title__about
    font-size: 24px
    color: $white
    padding-top: 31px

.header-content-button__inner
    padding-top: 73px
    position: relative
    right: 7px

.head-image 
    position: absolute
    width: 100%
    height: 100%

.head-image__first, .head-image__second
    position: absolute

.head-image__first 
    width: 26.6%
    top: 46%
    right: 9.3%
    transform: rotate(1deg)
    z-index: 100

.head-image__second
    width: 21%
    right: 0%
    top: 37.1%
    transform: rotate(1deg)
    z-index: 99