@import './imports/_variables'
@import './imports/_header-nav'
@import './imports/_footer'
@import './imports/_logo'
@import '_signIn-media'


//section first
.head-contact
    width: 100%
    height: 100%
    position: relative
    padding-bottom: 445px

.head-contact__background
    width: 100%
    height: 100%
    position: absolute
    bottom: 100px
