section.section-third-infrastructure
    .section-third-infrastructure__background
        .main-background.main-background--grey
    .container
        .row
            .section-infrastructure-wrap
                .section-third-infrastructure__title
                    .title-border.title-border--unset ixAnypoint
                .col-lg-12
                    .section-third-infrasturcture__txt-title
                        h1 Ixlayer infrastructure includes:
                    each val, index in infrastructure_description
                        .section-third-infrasturcture__description
                            .section-third-infrasturcture-includes
                                .section-third-infrasturcture-includes__title
                                    h3 #{index + 1}. #{val.title}
                            .section-third-infrasturcture-includes__wrap
                                .section-third-infrasturcture-includes__image
                                    .image-small
                                ul.infrasturcture-description-item
                                    each item in val.txt
                                        li.infrasturcture-description-item__inner #{item}
                    .section-third-infrastructure__launch-buttons
                        h3.title-third--regular Launch your genetic product today
                        .third-infrastructur__buttons
                            button.bt.purple Explore Solution
                            button.bt.grey Request a demo
