section.head-infrastructure
    .head-infrastructure__background
        .main-background.main-background--grey
    .container.container-lg
        .row
            include ../../_nav
        .row
            .head-content-infrastructure
                .col-lg-8.col-md-8.col-sm-8.col-xs-12
                    .head-infrastructure__title
                        h1.title__head Infrastructure for a genetic product is a difficult endeavor
                    .head-infrastructure__txt
                        p.txt-main-title.
                            Architecting, developing and operating a genetic infrastructure is a difficult endeavor. It’s a resource heavy project that can take over 7-8 months.
                        p.txt-main-title.
                            There are multiple integration points with different services and data routing between these services controlled by a business logic which is in charge of handling sensitive genetic userdata. The block diagram below is an illustration of the architecture complexity behind a genetic product.
                .col-lg-4.col-md-4.col-sm-4.col-xs-12
                    .head-infrastructure-image
                        object(type="image/svg+xml",data="./img/ixAnypoint/ixAnypoint.svg").image-small.head-infrastructure-image__inner
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    .title-infrastructure-buttons
                        .title-infrastructure-buttons__inner
                             .title-infrastructure-buttons__title
                                h3.title-third--regular Launch your genetic product today
                            .title-buttons__inner
                                a(href="/ix360.html").bt.purple Explore Solution
                                a(href="/contact-us.html").bt.grey Request a demo

