section.section-second-infrastructure
    .section-second-infrastructure__wrap
        .container
            .row
                .col-lg-12
                    .section-second-infrastructure-title
                        .section-second-infrastructure-title__wrap
                            .section-second-infrastructure-title-head
                                .section-second-infrastructure-title-head__image
                                    object(type="image/svg+xml",data="./img/index/icon-ixlayer.svg").image-least
                                .section-second-infrastructure-title-head__txt
                                    h1.title--blue-dark ixAnyPoint - Infrastructure for your genetic product
                            .section-second-infrastructure-title-head__txt-main-title
                                p.txt-main-title.txt-main-title--blue-dark.
                                    ixLayer infrastructure is a comprehensive, evolving cloud computing platform that provides everything you need to create quick and effective, web and IOS genetic product. ixAnyPoint provides all needed technology building blocks for launching genetic products, deployed and ready to run on a secure HIPAA architecture, with a regulatory layer for CLIA compliance.
            .row
                .section-infrastructure-wrap
                    .section-infrastructure-wrap__about
                        .col-lg-4.col-md-4.col-sm-4
                            .infrastructure-about
                                .infrastructure-about__image
                                    object(type="image/svg+xml",data="./img/ixAnypoint/icon-reduce-cost-80.svg").image-least
                                .infrastructure-about__title
                                    h3.title-third--blue Reduce cost by 80%
                                .infrastructure-about__txt-about
                                    p.txt-about-small.color-blue-dark.
                                        Eliminate the need for domain-expert personnel, developing, operating cloud infrastructure by utilizing production-ready services.
                        .col-lg-4.col-md-4.col-sm-4
                            .infrastructure-about
                                .infrastructure-about__image
                                    object(type="image/svg+xml",data="./img/ixAnypoint/icon-reduce-time.svg").image-least
                                .infrastructure-about__title
                                    h3.title-third--blue Reduce Time-to-Market
                                .infrastructure-about__txt-about
                                    p.txt-about-small.color-blue-dark.
                                        Reduce time to market by 4-5 months. Spend your time on marketing strategies  vs. months of engineering to reinvent the wheel.
                        .col-lg-4.col-md-4.col-sm-4
                            .infrastructure-about
                                .infrastructure-about__image
                                    object(type="image/svg+xml",data="./img/ixAnypoint/icon-high-quality.svg").image-least
                                .infrastructure-about__title
                                    h3.title-third--blue Launch high-quality
                                .infrastructure-about__txt-about
                                    p.txt-about-small.color-blue-dark.
                                        Utilize all the needed technology in one single place, to build high-quality genetic apps as quickly and reliably as possible.
            .row
                .section-infrastructure-wrap
                    .section-infrastructure-wrap__about
                        .col-lg-4.col-md-4.col-sm-4
                            .infrastructure-about
                                .infrastructure-about__image
                                    object(type="image/svg+xml",data="./img/ixAnypoint/icon-minimize-security-threats.svg").image-least
                                .infrastructure-about__title
                                    h3.title-third--blue Minimize Security Threats
                                .infrastructure-about__txt-about
                                    p.txt-about-small.color-blue-dark.
                                        Get proven security best practices out of the box and eliminate the guesswork and human mistakes that can jeopardize your application security.
                        .col-lg-4.col-md-4.col-sm-4
                            .infrastructure-about
                                .infrastructure-about__image
                                    object(type="image/svg+xml",data="./img/ixAnypoint/icon-remove-regulatory-barriers.svg").image-least
                                .infrastructure-about__title
                                    h3.title-third--blue Remove Regulatory barriers
                                .infrastructure-about__txt-about
                                    p.txt-about-small.color-blue-dark.
                                        Minimize the risks and surprises associated with launching a new regulated technology by leaving the regulatory headaches to us.
                        .col-lg-4.col-md-4.col-sm-4
                            .infrastructure-about
                                .infrastructure-about__image
                                    object(type="image/svg+xml",data="./img/ixAnypoint/icon-unlock-the-value-in-your-data.svg").image-least
                                .infrastructure-about__title
                                    h3.title-third--blue Unlock the value of your data
                                .infrastructure-about__txt-about
                                    p.txt-about-small.color-blue-dark.
                                        Leverage the platform’s data visualization, machine learning services to unlock new valuable insights about your end users.
            .row
                .section-infrastructure-wrap
                    .section-infrastructure-wrap__dna
                        .col-lg-12
                            .section-second-infrasturcture-dna
                                .section-second-infrasturcture-dna__title
                                    h2.title--blue-dark End to end backend solution
                                .section-second-infrasturcture-dna__txt-about
                                    p.txt-main-title.txt-main-title--blue-dark.
                                        ixlayer is configurable to be used as standalone end-to-end backend solution for your web and mobile application or integrate with your exciting technology stack.
                        .col-lg-6.col-md-6.col-sm-12
                            .section-second-infrasturcture-dna-image.section-second-infrasturcture-dna-image--border
                                .section-second-infrasturcture-dna-image__title
                                    h3.title-third--blue-dark Stand alone
                                .section-second-infrasturcture-dna-image__inner
                                    object(type="image/svg+xml",data="./img/ixAnypoint/ixAnypoint-integration-with-servers-ixlayer.svg").image-dna.image-dna--first
                        .col-lg-6.col-md-6.col-sm-12
                            .section-second-infrasturcture-dna-image
                                .section-second-infrasturcture-dna-image__title
                                    h3.title-third--blue-dark In parallel with your backend
                                .section-second-infrasturcture-dna-image__inner
                                    object(type="image/svg+xml",data="./img/ixAnypoint/ixAnypoint-inegrations-with-client-server.svg").image-dna.image-dna--second
                                    
