section.section-second
    .section-second__inner
        .container
            .row
                .col-lg-12
                    .section-second-header
                        .section-second-header__wrap
                            .section-second-header__logo
                                include ../partials/_logo-ixlayer
                            .section-second-header__txt
                                .title-second
                                    h2.section-second-header__title Lauching a product ixLayer
                                .txt-about
                                    p.section-second-header__about.
                                        With ixLayer end-to-end solution that is 
                                        needed from your side is the scientific claims 
                                        and ixLayer will provide you best in class, web 
                                        and mobile, user friendly genetic products with 
                                        in 3 weeks. This includes
                .col-lg-12
                    .section-second-image
                        .section-second-image__wrap
                            .image-full
                                .image-full__inner
                            