section.head
    .head__background
        .main-background
    .container.container-lg
        .row
            include ../../_nav
        .row
            .head-content
                .col-lg-8.col-md-8.col-sm-8.col-xs-12
                    .head__title
                        h1 Launching a genetic product
                    .head__txt-main
                        p.txt-main-title.
                            Launching a genetic product is an expensive, complicated, and time consuming effort.  There are several layers and steps required to launch and operate a product:
                    ul.head-description
                        li.head-description__item
                            .head-description-image
                                .head-description-image__inner
                            .head-description__txt
                                .head-description__title
                                    h3.not-indent Development Time
                                .head-description__txt-about
                                    p.txt-about-small.
                                        5-8 months for product development, integration, and testing. 6-12 months to get CLIA certification for health products.
                        li.head-description__item
                            .head-description-image
                                .head-description-image__inner
                            .head-description__txt
                                .head-description__title
                                    h3.not-indent Development Cost
                                .head-description__txt-about
                                    p.txt-about-small.
                                        $400k-$900k development and $300k annual operation cost. $250k for getting CLIA certification including additional operation cost for mandatory CLIA lab director.
                        li.head-description__item
                            .head-description-image
                                .head-description-image__inner
                            .head-description__txt
                                .head-description__title
                                    h3.not-indent Required Resources
                                .head-description__txt-about
                                    p.txt-about-small.
                                        Resource needed includes frontend-, backend-, IOS- developers, designer, product or project manager, dev-operation.
                        li.head-description__item
                            .head-description-image
                                .head-description-image__inner
                            .head-description__txt
                                .head-description__title
                                    h3.not-indent Regulatory Requirements
                                .head-description__txt-about
                                    p.txt-about-small.
                                        Health care products need integration with physician network. Getting CLIA  certification for all states. Having a lab director for annual CLIA audits.
                .col-lg-4.col-md-4.col-sm-4.hidden-xs
                    .head-image
                        .head-image__inner
                            .row-image.row-image--first
                                .row-image__first
                                    .about-txt-image.
                                        User interface development for web 
                                        and mobile platforms
                            .row-image.row-image--second
                                .row-image__second
                                    .about-txt-image.
                                       Backend development including
                                       architecture, database and source code
                            .row-image.row-image--third
                                .row-image__third
                                    .about-txt-image.
                                        Integration to different genetic services
                            .row-image.row-image--fourth
                                .row-image__fourth
                                    .about-txt-image.
                                        Regulatory certification for interpretation and reporting
                            .row-image.row-image--fifth
                                .row-image__fifth
                                    .about-txt-image.
                                        24/7 DevOps, platform updates, data access, integration management,
                                        certificate management, monitoring & logs, security operation...
        .row
            .col-lg-12
                .head-content-bottom
                    .head-content-bottom__title
                        h2 Launching  product with and without ixLayer
                    .head-content-bottom__txt
                        p.txt-main-title.
                            These are layers and steps required to launch and operate a genetic product without ixLayer.
    .container-large
        .container-large--row-boxes.container-large__boxes
            .col-lg-3.col-md-6.col-sm-6.col-xs-12
                .head-content-boxes.head-content-boxes--left
                    .head-content-boxes__inner
                        .title-wrap-back.title-wrap-back--blue-light
                            .title-wrap-back__inner
                                h4.text-uppercase.text-bold Interface layer
                        ul.boxes-items
                            each val in boxs_items.interface
                                li.boxes-items__inner
                                    .boxes-items__txt
                                        p.txt-main-title.color-blue-dark #{val}
            .col-lg-3.col-md-6.col-sm-6.col-xs-12
                .head-content-boxes.head-content-boxes--right
                    .head-content-boxes__inner
                        .title-wrap-back.title-wrap-back--blue-purple
                            .title-wrap-back__inner
                                h4.text-uppercase.text-bold Backend layer
                        ul.boxes-items
                            each val in boxs_items.backend
                                li.boxes-items__inner
                                    .boxes-items__txt
                                        p.txt-main-title.color-blue-dark #{val}
            .col-lg-3.col-md-6.col-sm-6.col-xs-12
                .head-content-boxes.head-content-boxes--left
                    .head-content-boxes__inner
                        .title-wrap-back.title-wrap-back--purple
                            .title-wrap-back__inner
                                h4.text-uppercase.text-bold Science & Regulatory
                        ul.boxes-items
                            each val in boxs_items.science
                                li.boxes-items__inner
                                    .boxes-items__txt
                                        p.txt-main-title.color-blue-dark #{val}
            .col-lg-3.col-md-6.col-sm-6.col-xs-12
                .head-content-boxes.head-content-boxes--right
                    .head-content-boxes__inner
                        .title-wrap-back.title-wrap-back--pink
                            .title-wrap-back__inner
                                h4.text-uppercase.text-bold Operation layer
                        ul.boxes-items
                            each val in boxs_items.operation
                                li.boxes-items__inner
                                    .boxes-items__txt
                                        p.txt-main-title.color-blue-dark #{val}
                                    
                               



                
                        
                        
                        
                                
                     


            
