section.section-third
    .section-third__background
        .main-background
    .container
        .row
            .col-lg-12
                .section-third-images
                    .section-third-images__wrap
                        img(src="./img/ix360/Solution---End-to-End---01.png" class="image-third img-responsive")
        .row
            .col-lg-12
                .section-third-title
                    .section-third-title__inner
                        .section-third-title__header
                            .title-border ix360 end to end solution
                        .section-third-title__txt
                            p.txt-about.txt-about--middle-line-height.
                                ixLayee End-t o-end solution is everything you 
                                need to launch a genetic product. All that is needed 
                                from your side is the scientific claims and ixLayer 
                                will provide you best in class, web and mobile, 
                                user friendly genetic products
                .section-third-description
                    .section-third-description__wrap              
                        .section-third-description__inner
                            .section-third-description__title
                                h3 Custom product design
                            .section-third-description__content
                                .section-third-description__content-image
                                    .image-small
                                .section-third-description__content-txt
                                    p.txt-about.txt-about--middle-line-height.
                                        ixLayer product and design team will 
                                        work together with you to create the 
                                        interface and the experience that fits your 
                                        users need. This includes product brainstorming, 
                                        identifying value propositions, design that speaks 
                                        for your brand and a feature rich product for 
                                        your genetic application
                        .section-third-description__inner
                            .section-third-description__title
                                h3 Web and Mobile
                            .section-third-description__content
                                .section-third-description__content-image
                                    .image-small.margin-on-image
                                        img(src="img/ix360/endToEnd_image_1.png").image-small__inner
                                .section-third-description__content-txt
                                    p.txt-about.txt-about--middle-line-height.
                                        With ixLayer you can offer a custom web, 
                                        mobile-web and Native IOS application. 
                                        integration with Helix mobile SDK, Apple 
                                        payment services, Apple Health & Research-kit 
                                        integration, supporting one or multiple genetic
                                        products / tests.
                                    p.txt-about.txt-about--middle-line-height.
                                        Increase your products visibility 
                                        by making them available on the App 
                                        store. No developer needed.           
                        .section-third-description__inner
                            .section-third-description__title
                                h3 Integrated with the ecosystem
                            .section-third-description__content
                                .section-third-description__content-image
                                    .image-small
                                .section-third-description__content-txt
                                    p.txt-about.txt-about--middle-line-height.
                                        Fully integrated with the needed services as 
                                        part of ixLayer infrastructure to launch a 
                                        genetic consumer product or genetic LDT 
                                        health products. These services includes 
                                        Helix sequencing platform, Physician networks, 
                                        on demand genetic counselors, CLIA certified 
                                        interpretation and reporting and compliant with 
                                        the highest industry security guidelines
                        .section-third-description__inner
                            .section-third-description__title
                                h3 Operation
                            .section-third-description__content
                                .section-third-description__content-image
                                    .image-small
                                .section-third-description__content-txt
                                    p.txt-about.txt-about--middle-line-height.
                                        Operation [Something] post launch for daily DevOps., 
                                        platform updates, admin userdata access, platform analytics, 
                                        Integration and certificate management, source code updates, 
                                        monitoring & logs, security patching, post launch bug fixes, 
                                        API and versioning updates from supported services
                        .section-thid-description__butons
                            .section-third-description__butons-title
                                h3 Launch your genetic product today
                            .section-third-description__buttons-inner
                                button.bt.purple Explore Solution
                                button.bt.grey Request a demo

