section.section-fourth
    .container
        .row
            .col-lg-12
                .section-fourth-header
                    .section-fourth-header__logo
                        include ../partials/_logo-circle
                    .section-fourth-header__head
                        .section-fourth-header__title
                            h2 Details of ix360 end-to-end solution
                        .section-fourth-header__txt-about
                            .txt-about.
                                The following table highlights services for consumer genetic products or health lab developed test (LDT) genetic products:
        .row
            .col-lg-12
                .section-fourth-table
                    .section-fourth-table__inner
                        table.table.table-striped
                            thead.section-fourth-table__thead
                                tr
                                    th(scope="col")
                                    th(scope="col")
                                        .table__head
                                            h3.title-third--regular Consumer Genetic products
                                    th(scope="col")
                                        .table__head
                                            h3.title-third--regular Health (LDT) genetic products
                            tbody.section-fourth-table__tbody
                                each val in table
                                    tr
                                        td.table-row-txt
                                            .table-row-txt__inner
                                                .tbody__title
                                                    h3.title-third--blue-dark #{val.title}
                                                .tbody__txt
                                                    p.txt-about-small.txt-about-small--purple-2.not-indent #{val.txt_about}
                                        td
                                            .table-row-icon
                                                .table-row-icon__inner
                                                    if val.consumer === true
                                                        span.icon-ok
                                                    else
                                                        span.icon-remove
                                        td
                                            .table-row-icon
                                                .table-row-icon__inner
                                                    if val.health === true
                                                        span.icon-ok
                                                    else
                                                        span.icon-remove
                        .table-launch-buttons
                            .table-launch-buttons__inner
                                .table-launch-buttons__title
                                    h3.title-third--regular.title-third--blue-dark Launch your genetic product today
                                .table-buttons__inner
                                    a(href="").bt.purple Explore Solution
                                    a(href="").bt.grey Request a demo

