section.head
    .head__background
        .main-background
    .container.container-lg
        .row
            include ../../_nav
        .row
            .head-content
                .col-lg-8.col-md-8.col-sm-8.col-xs-12
                    .title
                        h1.title__head Launching a genetic product
                    .title-about
                        p.title-about__head.
                            Launching a genetic product is an expensive, 
                            complicated time consuming effort. There are several 
                            layers and steps required to launch and for operation
                    ul.head-description
                        li.head-description__item
                            .head-description-image
                                .head-description-image__inner
                            .head-description__txt
                                .title-fourth.title-fourth--white
                                    h4.title-fourth__head-description Time
                                .txt-about-small.txt-about-small--white
                                    p.txt-about-small__head-description.
                                        5-8 months for product development, 
                                        integration, and testing. 6-12 months
                                        to get CLIA certification for health products
                        li.head-description__item
                            .head-description-image
                                .head-description-image__inner
                            .head-description__txt
                                .title-fourth.title-fourth--white
                                    h4.title-fourth__head-description Cost
                                .txt-about-small.txt-about-small--white
                                    p.txt-about-small__head-description.
                                        $400-$900k development cost and $300k yearly 
                                        operation cost. $250k for getting CLIA 
                                        certification including additional cost 
                                        for mandatory Lab director
                        li.head-description__item
                            .head-description-image
                                .head-description-image__inner
                            .head-description__txt
                                .title-fourth.title-fourth--white
                                    h4.title-fourth__head-description Resources
                                .txt-about-small.txt-about-small--white
                                    p.txt-about-small__head-description.
                                        Resource needed includes frontend-, 
                                        backend-, IOS- developers, designer, 
                                        product or project manager, dev-operation, 
                                        Lab director
                        li.head-description__item
                            .head-description-image
                                .head-description-image__inner
                            .head-description__txt
                                .title-fourth.title-fourth--white
                                    h4.title-fourth__head-description Regulatory
                                .txt-about-small.txt-about-small--white
                                    p.txt-about-small__head-description.
                                        Health care products need integration 
                                        with physician network. Getting CLIA  
                                        certification for all states. Having a 
                                        lab director for yearly CLIA audits
                .col-lg-4.col-md-4.col-sm-4.hidden-xs
                    .head-image
                        .head-image__inner
        .row
            .col-lg-12
                .head-content-bottom
                    .title-second.title-second--white
                        h2.title-second__head-bottom Lauching a genetic product without ixLayer
                    .txt-about.txt-about--white
                        .txt-about__head-botom.
                            These are layers and steps required 
                            to launch and operate a genetic product without ixLayer
    .container-large
        .container-large--row-boxes.container-large__boxes
            .col-lg-3.col-md-6.col-sm-6.col-xs-12
                .head-content-boxes.head-content-boxes--left
                    .head-content-boxes__inner
                        .title-wrap-back.title-wrap-back--blue-light
                            .title-fifth.title-fifth--uppercase
                                h5.title-fifth__head-boxes Interface layer
                        ul.boxes-items
                            each val in boxs_items.interface
                                li.boxes-items__inner
                                    .about-txt-fourth.about-txt-fourth--white
                                        p.about-txt-fourth__boxes-items #{val}
            .col-lg-3.col-md-6.col-sm-6.col-xs-12
                .head-content-boxes.head-content-boxes--right
                    .head-content-boxes__inner
                        .title-wrap-back.title-wrap-back--blue-purple
                            .title-fifth.title-fifth--uppercase
                                h5.title-fifth__head-boxes Backend layer
                        ul.boxes-items
                            each val in boxs_items.backend
                                li.boxes-items__inner
                                    .about-txt-fourth
                                            p.about-txt-fourth__boxes-items #{val}
            .col-lg-3.col-md-6.col-sm-6.col-xs-12
                .head-content-boxes.head-content-boxes--left
                    .head-content-boxes__inner
                        .title-wrap-back.title-wrap-back--purple
                            .title-fifth.title-fifth--uppercase
                                h5.title-fifth__head-boxes Science & Regulatory
                        ul.boxes-items
                            each val in boxs_items.science
                                li.boxes-items__inner
                                    .about-txt-fourth
                                            p.about-txt-fourth__boxes-items #{val}
            .col-lg-3.col-md-6.col-sm-6.col-xs-12
                .head-content-boxes.head-content-boxes--right
                    .head-content-boxes__inner
                        .title-wrap-back.title-wrap-back--pink
                            .title-fifth.title-fifth--uppercase
                                h5.title-fifth__head-boxes Operation layer
                        ul.boxes-items
                            each val in boxs_items.operation
                                li.boxes-items__inner
                                    .about-txt-fourth
                                            p.about-txt-fourth__boxes-items #{val}
                                    
                               



                
                        
                        
                        
                                
                     


            
