section.section-fourth
    .container
        .row
            .section-fourth-header
                .section-fourth-header__logo
                    include ../partials/_logo-circle
                .section-fourth-header__title
                    .title-second.title-second--white
                        .title-second__section-fourth Details of ixLayer end-to-end product and services
                    .txt-about.txt-about--white
                        .txt-about__section-fourth.
                            With ixLayer end-to-end solution 
                            that is needed from your side is 
                            the scientific claims and ixLayer 
                            will provide you best in class, 
                            web and mobile, user friendly genetic 
                            products with in 3 weeks. This includes
        .row
            .section-fourth-table
                .section-fourth-table__inner
                    table.table.table-striped
                        thead
                            tr
                                th(scope="col")
                                th(scope="col") Consumer Genetic products
                                th(scope="col") Health (LDT) genetic products
                        tbody
                            tr
                                td.table-row-txt
                                    .table-row-txt__inner
                                        .title-third
                                            h3.title-third__table-row Product concept & ideation
                                        .txt-about-small
                                            .txt-about-small__table-row.
                                                Our product team with guide you through 
                                                product concept and ideation, including value props, 
                                                feature/functionalities, product criterias ...
                                td Close
                                td Open
                            tr
                                td.table-row-txt
                                    .table-row-txt__inner
                                        .title-third
                                            h3.title-third__table-row Product concept & ideation
                                        .txt-about-small
                                            .txt-about-small__table-row.
                                                Our product team with guide you through 
                                                product concept and ideation, including value props, 
                                                feature/functionalities, product criterias ...
                                td Close
                                td Open
                             tr
                                td.table-row-txt
                                    .table-row-txt__inner
                                        .title-third
                                            h3.title-third__table-row Product concept & ideation
                                        .txt-about-small
                                            .txt-about-small__table-row.
                                                Our product team with guide you through 
                                                product concept and ideation, including value props, 
                                                feature/functionalities, product criterias ...
                                td Close
                                td Open
