section.section-third
    .section-third__background
        .main-background
    .container
        .row
            .col-lg-12
                .section-third-images
                    .section-third-images__wrap
                        object(type="image/svg+xml",data="./img/ix360/OP.svg").section-third-images__op
                        object(type="image/svg+xml",data="./img/ix360/BE.svg").section-third-images__be
                        object(type="image/svg+xml",data="./img/ix360/Health.svg").section-third-images__health
                        object(type="image/svg+xml",data="./img/ix360/FE.svg").section-third-images__fe
        .row
            .col-lg-12
                .section-third-title
                    .section-third-title__inner
                        .section-third-title__header
                            .title-border ix360
                        .section-third-title__txt
                            p.txt-about.txt-about--middle-line-height.
                                ix360 is an End-to-end solution that has everything you need to launch a genetic product. This includes:
                .section-third-description
                    .section-third-description__wrap              
                        .section-third-description__inner
                            .section-third-description__content-image
                                object(type="image/svg+xml",data="./img/ix360/ix360-custom product-design.svg").image-small
                            .section-third-description__content
                                .section-third-description__title
                                    h3 Custom product design
                                .section-third-description__content-txt
                                    p.txt-about.txt-about--middle-line-height.
                                        ixLayer product and design team will work together with you to create the interface and the experience that fits your users needs. This includes product brainstorming, identifying value propositions, design that speaks for your brand and a feature-rich product for your genetic application.
                        .section-third-description__inner
                            .section-third-description__content
                                .section-third-description__title
                                    h3 Web and Mobile
                                .section-third-description__content-txt
                                    p.txt-about.txt-about--middle-line-height.
                                        With ixLayer you can offer a custom web, mobile-web and Native IOS application, integration with Helix mobile SDK, Apple payment services, Apple Health & Research-kit, supporting one or multiple genetic products.
                                    p.txt-about.txt-about--middle-line-height.
                                        Increase your products visibility by making them available on the App store. Collect phenotype data from mobile phones, wearables and connected medical devices to improve your result quality and validity.
                             .section-third-description__content-image
                                object(type="image/svg+xml",data="./img/ix360/ix360-web-and-mobile.svg").image-small
                        .section-third-description__inner
                            .section-third-description__content-image
                                object(type="image/svg+xml",data="./img/ix360/ix360-integrated.svg").image-small
                            .section-third-description__content
                                .section-third-description__title
                                    h3 Integrated with the ecosystem
                                .section-third-description__content-txt
                                    p.txt-about.txt-about--middle-line-height.
                                        Fully integrated with all needed services to launch a genetic consumer product or genetic health product. These services includes Helix sequencing platform, physician networks, on demand genetic counselors, CLIA certified interpretation and reporting, and compliance with HIPAA guidelines.
                        .section-third-description__inner
                            .section-third-description__content
                                .section-third-description__title
                                    h3 Hands off Operation
                                .section-third-description__content-txt
                                    p.txt-about.txt-about--middle-line-height.
                                        Running operation post launch inducing daily DevOps, platform updates, admin userdata access, platform analytics, Integration- and certificate management, source code updates, monitoring & logs, security patching, post launch bug fixes, API versioning, and updates from supported services.
                            .section-third-description__content-image
                                object(type="image/svg+xml",data="./img/ix360/ix360-operation.svg").image-small
                        .section-thid-description__butons
                            .section-third-description__butons-title
                                h3 Launch your genetic product today
                            .section-third-description__buttons-inner
                                a(href="/ix360.html").bt.purple Explore Solution
                                a(href="/contact-us.html").bt.grey Request a demo

