section.section-second
    .section-second__inner
        .container
            .row
                .col-lg-12
                    .section-second-header
                        .section-second-header__wrap
                            .section-second-header__logo
                                include ../partials/_logo-ixlayer
                            .section-second-header__txt
                                .section-second-header__title
                                    h2.title--blue Lauching a product ixLayer
                                .section-second-header__txt-title
                                    p.txt-main-title.color-blue-dark.
                                        With ixLayer all that is needed from your side is the scientific or clinical claims.
        .container
            .row
                .col-lg-12
                    .section-second-image
                        .section-second-image__wrap
                            object(type="image/svg+xml",data="./img/ix360/launching-a-genetic-product-is-simple-with-ixlayer.svg").ixlayer-product-image
