section.head-contact
    .head-contact__background
        .main-background.main-background--light-blue
    .container.container-lg
        .row
            include ../../_nav
        .row
            .head-contact-content
                .col-lg-9.col-md-8.col-sm-8.col-xs-12
                    .head-contact__title
                        h1 Thank you
                    .head-contact__txt-main
                        p.txt-main-title.
                            Your message has been sent successfully. Our team we’ll be in touch with you as soon as possible.


