.header-content-price-slider
    #carousel-generic.carousel.slide(data-ride="carousel")
        ol.carousel-indicators
            li(data-target="#carousel-generic" data-slide-to="0" class="active")
            li(data-target="#carousel-generic" data-slide-to="1")
            li(data-target="#carousel-generic" data-slide-to="2")
            li(data-target="#carousel-generic" data-slide-to="3")
            li(data-target="#carousel-generic" data-slide-to="4 ")
        .header-content-price.carousel-inner
            .header-content-price__inner.item.active
                .header-content-price__img

                .header-content-price-txt
                    h4.header-content-price-txt__title Price elasticity
                    p.header-content-price-txt__about.
                        Illumina new technology drives 
                        the cost of DNA sequencing cost to below $100
                    span.header-content-price-txt__more Read more 
            .header-content-price__inner.item
                .header-content-price__img
                .header-content-price-txt
                    h4.header-content-price-txt__title Platform
                    p.header-content-price-txt__about.
                        Helix platform removes burden of having 
                        genomic lab and the  bioinformatic pipeline
                    span.header-content-price-txt__more Read more 
            .header-content-price__inner.item
                .header-content-price__img
                .header-content-price-txt
                    h4.header-content-price-txt__title Removing Barriers
                    p.header-content-price-txt__about.
                        ixLayer simplifies developing genetic 
                        products by removing technical and regulatory barriers
                    span.header-content-price-txt__more Read more
            .header-content-price__inner.item
                .header-content-price__img
                .header-content-price-txt
                    h4.header-content-price-txt__title Increasing demand
                    p.header-content-price-txt__about.
                        Genetic product was one of the five best-selling 
                        products on Amazon during the holiday season
                    span.header-content-price-txt__more Read more
            .header-content-price__inner.item
                .header-content-price__img
                .header-content-price-txt
                    h4.header-content-price-txt__title Growth of a market
                    p.header-content-price-txt__about.
                        Startups and Industry leaders saw 3x-10x 
                        exponential growth in 2017
                    span.header-content-price-txt__more Read more