
//- -var title = "AwareNow";
//- -var menu = [{"item" : "Terms and Conditions", "link" : "#"}, {"item" : "About Aware", "link" : "#"}, {"item" : "Contact", "link" : "#"}, {"item" : "Customer Service", "link" : "#"}, {"item" : "FAQ", "link" : "#"}]

